[2020-09-04 18:30] maryshak1996 commented on #268
Template here!
[toggle-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5176410/toggle-template.sketch.zip)

[2020-09-11 09:03] doruskova commented on #268
@maryshak1996 @gdoyle1  Merged! Thanks a lot.

[2020-09-11 09:06] #268 closed

[2020-09-11 13:36] doruskova opened #275 "Add Context Selector with actions"
Add new Context selector with actions at the bottom based on this mockup
https://marvelapp.com/prototype/7ahigh3/screen/72291839

1. Add a new page to a template called Context selector
2. Show Context selector with actions, include spec (padding)
3. Create an example (see pictures from Gina in comments).

Be sure to add the PRE-RELEASE label to these artboards.

[2020-09-14 19:22] gdoyle1 commented on #275
Example of this in context from OpenShift
<img width="1678" alt="Screen Shot 2020-09-14 at 9 55 50 AM" src="https://user-images.githubusercontent.com/30870144/93128832-11ac6d80-f69e-11ea-85f3-1b4965ec7cbb.png">
<img width="1676" alt="Screen Shot 2020-09-14 at 9 55 39 AM" src="https://user-images.githubusercontent.com/30870144/93128833-12450400-f69e-11ea-97ba-4672734793f7.png">

[2020-09-15 09:36] doruskova commented on #260
Symbols here: [patternfly-labels.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5223923/patternfly-labels.sketch.zip)
Added a new text style for less/more labels and hover state (inspired by chips).

[2020-09-15 14:50] doruskova opened #276 "Add badge for a Tree view"
Noticed that we're missing a badge for a Tree view. It has a different spec than current badges.

- Add a badge to Tree view symbols with `#D2D2D2` bg (--pf-global--disabled-color--200) and black text.

Note: The badges can be used in the menu with checkboxes, action items, and icons. That's why we're adding just a badge.

The implementation is available [here](https://patternfly-react-pr-4701.sur

[2020-09-15 20:12] mmenestr opened #277 "Get rid of "Large" modal in symbol library + template"
Was brought to my attention that there is no such thing as a compact or large modal anymore, there's just one modal type, and its the 24px padding one (which is currently named compact).

So basically we have to delete the "large" modal variation, and just have Modal > Header, and Modal > No header!

[2020-09-16 18:03] gdoyle1 commented on #260
@doruskova yes it looks great! I'm merging into lib now with my icon stuff :)

[2020-09-16 18:44] gdoyle1 commented on #256
Merged!

[2020-09-16 18:44] #256 closed

[2020-09-16 18:45] gdoyle1 commented on #260
Merged - you're all good to do a template! @doruskova

[2020-09-18 12:52] doruskova commented on #260
@gdoyle1 Template merged!

[2020-09-18 12:53] #260 closed

[2020-09-18 13:40] doruskova opened #280 "Fix fonts in a template"
![Snímek obrazovky 2020-09-18 v 13 21 05](https://user-images.githubusercontent.com/32618096/93599978-49c5f000-f9bf-11ea-8378-0589ee860391.png)

I went through a template because Sketch always complains that the Font is missing. So, I used the [Fontily plugin](https://github.com/partyka1/Fontily) in Sketch to find where Overpass was used and where UX Comment with OpenSans was used. The result was

[2020-09-18 13:53] gdoyle1 commented on #280
YAY @doruskova thank you!!!!

[2020-09-18 13:57] #280 closed

[2020-09-18 14:11] mmenestr opened #281 "Symbol lib: Add link button with no padding to link button with no icons"
Just realized I added no padding versions of the link buttons with icon, but not the regular link button with no icon.
Going to add that!

[2020-09-21 12:38] doruskova commented on #277
@mmenestr Fixed!

[2020-09-21 12:45] #277 closed

[2020-09-21 15:21] mcarrano opened #282 "Create Catalog View template"
Add a Catalog view to a template based on this mock: https://marvelapp.com/prototype/24g4a7g6/screen/72488225

- Add a new page in a template called "Catalog view"
- Create a Catalog view artboard that shows the component itself.
- Create a Catalog view artboard with spec and examples. I'd follow the Marvel that includes: basic layout, tablet example.

Here's the helpful sketch link:
https://www.s

[2020-09-21 15:32] mcarrano opened #283 "Add top positioning template for a modal"
Add top positioning for a Modal dialog. Here's how it looks like https://patternfly-pr-3435.surge.sh/documentation/core/demos/modal/top-aligned

- Add Top aligned modal to a Modal page in a template
- Create an example of a top-aligned modal.

[2020-09-21 15:37] mcarrano opened #284 "Drill-down tree menu"
Add a default drill-down tree menu to a symbol library and a template based on this mockup https://marvelapp.com/prototype/66b0059/screen/72079939 (just the default version without icons etc). Here's the spec https://marvelapp.com/prototype/66b0059/screen/72079923

Also, here's the sketch file from Marvel:
[drill-down-menu.zip](https://github.com/patternfly/patternfly-design-kit/files/5256693/dril

[2020-09-21 15:42] mcarrano opened #285 "Add Code editor to a symbol library and template"
Create Code editor based on this mock (version 1) https://marvelapp.com/prototype/b284chd/screen/70964526
HTML implementation here https://www.patternfly.org/v4/components/code-editor
This issue needs:

**Symbols:**
- Create a new page called "Code editor".
- Create an artboard with the container for a block of code.
- This container has read-only and edit mode.

Hierarchy in Sketch
Code editor /

[2020-09-22 09:08] doruskova commented on #276
Merged!

[2020-09-22 09:13] #276 closed

[2020-09-22 09:34] doruskova commented on #283
Merged!

[2020-09-22 09:34] #283 closed

[2020-09-22 14:37] doruskova commented on #261
[PatternFly-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5262149/PatternFly-template.sketch.zip)
@gdoyle1 Can you review this issue? Wasn't sure about the width of the inline alert.

[2020-09-22 14:55] gdoyle1 commented on #261
@doruskova Just checked it out - I think the way you have them looks right to me!

[2020-09-23 11:31] #261 closed

[2020-09-23 15:16] mcarrano commented on #282
Per discussion we may want to create a generic Panel symbol to be used for the left sidebar. Consider usage for drawers - inline vs overlay.

[2020-09-23 15:25] maryshak1996 opened #286 "Add drawer symbols to library"
Create the various versions of the [drawer component](https://www.patternfly.org/v4/components/drawer) as symbols:

- [ ] Inline drawer (left, right, bottom)
- [ ] Overlay drawer (left, right, bottom)

[2020-09-23 15:25] maryshak1996 commented on #282
issue for drawer component symbols: https://github.com/patternfly/patternfly-design-kit/issues/286

[2020-09-24 09:26] doruskova commented on #284
@maryshak1996 Here's the current HTML implementation https://patternfly-pr-3438.surge.sh/documentation/core/components/menu#drilldown-level-two

It's just a default version without icons etc.

[2020-09-24 15:03] maryshak1996 commented on #286
@doruskova @gdoyle1 (not sure where you guys are in the handoff of merging things so tagging you both haha) -- if you could merge in these drawer symbols here that would be great, then I get working on the catalog template! Thanks!
[drawer-symbols.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5277063/drawer-symbols.sketch.zip)

[2020-09-24 15:20] doruskova commented on #286
@maryshak1996 Merged!

[2020-09-24 15:21] #286 closed

[2020-09-25 12:36] doruskova commented on #275
Merged!

[2020-09-25 12:36] #275 closed

[2020-09-25 16:35] doruskova commented on #254
@gdoyle1 The problem was fixed and the tabs are centered with flexible text!

[2020-09-25 16:46] doruskova commented on #254
Oh, I forgot to add Core-only labels for labels with a grey bg. I'll add it next week.

[2020-09-28 16:54] maryshak1996 commented on #284
@doruskova here are the symbols! once these are merged in I'll make some templates :)
[drill-down-menu-symbols.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5293840/drill-down-menu-symbols.sketch.zip)

[2020-09-28 19:26] maryshak1996 commented on #284
@doruskova just realized that I didn't include the 'core-only' labels -- do you want me to do that or do you just want to do it when you merge it in?

[2020-09-29 09:06] doruskova commented on #284
@maryshak1996 Thank you! You're incredible and no worries I'll add them when I merge it in.

[2020-09-29 14:37] #254 closed

[2020-09-29 14:48] doruskova commented on #221
@gdoyle1 @mceledonia Is this issue on hold?

[2020-09-29 14:59] gdoyle1 commented on #221
Not that I know of @doruskova ! @mceledonia can you still take this on?

[2020-09-29 15:11] maryshak1996 commented on #282
I did two examples (each showing responsiveness) -- definitely let me know if you need any changes made to this though :)
[catalog-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5300051/catalog-template.sketch.zip)

[2020-09-29 15:35] doruskova commented on #284
@maryshak1996 Merged!

[2020-09-29 16:04] doruskova commented on #282
@maryshak1996 I have just one thing, haha. Can you create an arboart that summarize all of these examples? Just show, for example, the default catalog view and the more difficult next to each other with padding. Does it make sense to you?

[2020-09-29 16:08] maryshak1996 commented on #282
@doruskova oh yup, I knew I was forgetting something haha -- I'll post that by the end of the week!

[2020-09-30 11:07] doruskova commented on #266
@gdoyle1 Merged!

[2020-09-30 11:58] #266 closed

[2020-09-30 15:22] ajacobs21e opened #287 "Table template example text wrapping"
https://www.sketch.com/s/729c2eee-e8b6-4fcd-8a79-f6faa8c30f89/a/Ao8nGz
The text in the donut accidentally wrapped

[2020-10-01 09:36] doruskova commented on #287
@ajacobs21e I took a look at it and it needs to be a bug on a Sketch Cloud ([issue](https://www.reddit.com/r/sketchapp/comments/e5llrz/cloud_doesnt_match_the_sketch_file/?utm_source=share&utm_medium=web2x&context=3)) because it looks ok when I downloaded the template. Ehm.. weird. Let me know if you saw it in a template. This is how it looks in a template.
![Expandable - desktop](https://user-imag

[2020-10-01 17:17] maryshak1996 commented on #282
[catalog-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5313766/catalog-template.sketch.zip)
I added a sort of overview/help art-board here :)

[2020-10-02 09:43] doruskova commented on #282
@maryshak1996 Merged!

[2020-10-02 09:44] #282 closed

[2020-10-05 11:45] doruskova commented on #287
@ajacobs21e I checked it again and it looks that they fixed it. It looks normal. YAY :)

[2020-10-05 11:45] #287 closed

[2020-10-05 11:49] doruskova commented on #36
@gdoyle1 Do we have any React/Core issue related to this? Why is it on hold?

[2020-10-05 14:02] gdoyle1 commented on #36
@doruskova I think they are in the process of adding it to React - it's on hold to figure out what the design will be based on their implementation! I would continue to keep this on hold since lots of designers are looking for this and adding it to the symbol library will probably lead them to believe the component is available

[2020-10-06 15:25] gdoyle1 commented on #249
So I merged the symbols for favorites in the normal menu items for this @doruskova  - I'm thinking we create other issues for:
1. Adding favorites to menu items with descriptions
2. Adding variations of menu items with icon on left vs. icon on right - this way we can get at the use case of someone wanting to put another icon in place of the favorite star

Let me know what you think!

[2020-10-06 19:05] maryshak1996 opened #288 "Primary dropdown symbol needs doesn't match implementation"
The primary dropdown symbol has two inconsistencies with [what's been implemented here](https://patternfly-pr-3438.surge.sh/components/dropdown#primary-toggle). Screenshot of the symbol as is below:
![image](https://user-images.githubusercontent.com/19824574/95248546-7498ac80-07e5-11eb-81ac-12abcabdfca4.png)

- [x] The dropdown caret should default to being white (currently the symbol has a black

[2020-10-06 19:26] maryshak1996 commented on #284
Here's the template :)
[drill-down-template-addition.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5336241/drill-down-template-addition.sketch.zip)

[2020-10-06 21:15] gdoyle1 opened #289 "Need a single toggle group item"
There is an option to have a single toggle group item - need to create another version of the symbol to not include the vertical divider on a side and all corners are rounded

If you go here:
https://www.patternfly.org/v4/components/toggle-group/html
and place
[code]
 before `<br/>`

you'll see it!

[2020-10-07 08:39] doruskova commented on #249
@gdoyle1 It makes sense. Do you have any mocks for it so that we can create these two issues?

[2020-10-07 11:00] doruskova commented on #284
@maryshak1996 Merged!

[2020-10-07 11:00] #284 closed

[2020-10-07 13:19] gdoyle1 commented on #249
@doruskova Here are mocks for #1 (favorites to menu items with descriptions): https://www.patternfly.org/v4/components/select#favorites and then symbols for `menu item with icon on left` exist... but only the default state. So maybe we make `default`, `hover`, `selected`, `disabled` states for `menu item with icon on left`. I thought I remembered you taking on a design story with `menu item with i

[2020-10-07 13:26] gdoyle1 commented on #289
Added these last night

[2020-10-07 13:26] #289 closed

[2020-10-07 15:04] doruskova opened #290 "Rename folders for a Tree view"
Need to rename folders for a Tree view from "Parent" folder to "Selected".

Here's the list of folders that needs to be renamed to this:
Default > Folder > First/Second/Third/Fourth > **Selected**
With checkbox > Folder > First/Second/Third/Fourth > **Selected**
With icons > Folder > First/Second/Third/Fourth > **Selected**

Recommendation: Use **Renameit** plugin in Sketch for mass change so that

[2020-10-07 15:09] doruskova commented on #249
@gdoyle1 Yes, it was for a tree view https://marvelapp.com/prototype/8cdg211/screen/69897125 and this was for a context menu (it's called menu) https://marvelapp.com/prototype/dhj94fe/screen/67940185

Is it this menu with an icon?

[2020-10-07 15:35] gdoyle1 commented on #249
@doruskova ah okay never mind then, I think we can just stick with 1 issue for `favorites to menu items with descriptions` and 1 issue for additional states to `menu item with icon on left` (default, hover, selected, disabled)

[2020-10-07 17:57] gdoyle1 opened #291 "Add symbols for favorites to menu item with description"
Reference https://www.patternfly.org/v4/components/select#favorites and create versions similar to those that exist for existing favorite menu item symbols

[2020-10-07 17:59] gdoyle1 opened #292 "Add symbols for additional states of menu item with icon on left"
Add additional states to menu item with icon on left (default, hover, selected, disabled) to match the rest of the menu items

[2020-10-07 17:59] gdoyle1 commented on #249
Closing this but created follow up issues #291 and #292

[2020-10-07 17:59] #249 closed

[2020-10-07 19:31] mcarrano opened #293 "Down caret in primary dropdown toggle should be white"
The down caret in the Primary variant of the Dropdown toggle is dark, should be light.

![Screen Shot 2020-10-07 at 3 29 24 PM](https://user-images.githubusercontent.com/6619860/95378590-22718d00-08b2-11eb-9b5f-63e7096201f2.png)

[2020-10-07 20:09] mmenestr commented on #281
Just added to the library:

Button / 5. Link button / No padding / Default
Button / 5. Link button / No padding / Disabled
Button / 5. Link button / No padding / Focus
Button / 5. Link button / No padding / Hover

[2020-10-07 20:09] #281 closed

[2020-10-08 08:07] doruskova commented on #293
The issue noticed here #288

[2020-10-08 11:39] doruskova commented on #288
@maryshak1996 Fixed!

[2020-10-08 11:40] doruskova commented on #293
@mcarrano Fixed in #288

[2020-10-08 11:40] #288 closed

[2020-10-08 11:41] #293 closed

[2020-10-08 11:46] doruskova commented on #290
Fixed!

[2020-10-08 11:46] #290 closed

[2020-10-08 12:13] doruskova opened #294 "Add disabled arrows for tertiary and horizontal nav"
Add disabled arrows (left and right) with color for disabled state.

Following this implementation:
Tertiary: https://www.patternfly.org/v4/components/navigation/react#tertiary
Horizontal: https://www.patternfly.org/v4/components/page/html-demos/horizontal-nav/

Found it here #273

[2020-10-08 13:07] mmenestr opened #295 "Template: Add extra small empty state"
It just got released in html. https://www.patternfly.org/v4/components/empty-state/html#extra-small

[2020-10-08 13:08] mmenestr commented on #270
Added examples of tables, and also data lists with a radio button. And also included an example of an in wizard table with radio buttons for both!

[2020-10-08 13:19] mmenestr commented on #295
Added + a demo, so closing

[2020-10-08 13:19] #295 closed

[2020-10-08 13:19] #270 closed

[2020-10-08 13:20] mmenestr commented on #269
Added templates of every type of tree view, + with badges and with actions!

[2020-10-08 13:20] #269 closed

[2020-10-08 14:13] doruskova commented on #273
@gdoyle1 Merged!

Default, Grouped > didn't notice anything new (let me know if you notice something)
Expandable nav > added divider
Horizontal nav and Tertiary nav > updated arrows (added lines, removed shadows), added disabled arrows

[2020-10-08 14:13] doruskova commented on #294
Updated here #273

[2020-10-08 14:14] #294 closed

[2020-10-08 14:53] doruskova opened #296 "Update horizontal nav for a mobile version"
Update horizontal nav for a mobile version based on this implementation https://www.patternfly.org/v4/components/navigation

It means:

- Remove shadows from the overflow arrows
- Add lines to each arrow

This issue's been created from issue #273

[2020-10-08 15:46] gdoyle1 commented on #273
@doruskova thank you!!!!!! you're the best

[2020-10-09 07:55] #273 closed

[2020-10-12 15:15] doruskova opened #297 "Add small variation of an empty state"
Add a small (xs) variation of an empty state in a card to a template.

Mocks available here https://marvelapp.com/prototype/7c5cdhd/screen/72928590
HTML available here https://www.patternfly.org/v4/components/empty-state/html#extra-small

- Create artboards to for the "Empty state" page in a template

**Be sure you added a Core-only label to these artboards.**

[2020-10-12 15:19] doruskova opened #298 "Add help widget to a modal"
Add modal with a help widget to a template and symbol library based on this HTML implementation https://www.patternfly.org/v4/components/modal/html#with-help-button

Symbol library

- Create an artboard called "Header and help icon"
- The "Help" icon should be aligned to the right next to a close icon.

Be sure you added Core-only labels to these artboards.

Template:
- Add an artboard called "Mod

[2020-10-12 15:21] doruskova opened #299 "Expand/Collapse all in a table/data list"

[2020-10-12 15:24] doruskova opened #300 "Add horizontal card"
Add a horizontal card example to a template. Mocks here https://marvelapp.com/prototype/5e55293/screen/72960491

- Add new artboards to a "Card view" page.
- Add an artboard that introduces a horizontal card and the spacing
- Show the horizontal card in a context.

Be sure you added pre-released labels to these artboards.

[2020-10-12 15:29] doruskova opened #301 "Add dual list selector"
Add new Dual list selector to a symbol library and a template based on this mock https://marvelapp.com/prototype/12e47bhj/screen/72622268

Symbol library:

-

Add pre-released labels to these artboards.

Template:
- Create a new page called "Dual list selector"
- Create artboard that shows Dual list selector and spec
- Show some examples of how to use it.

Add pre-released labels to these artboard

[2020-10-12 15:31] doruskova opened #302 "Add Form sections"
Add Form sections to a symbol library and a template based on this mock https://marvelapp.com/prototype/5e57if3/screen/72963176

Symbol library:
- Add new artboards to a Forms page called "8. Form section".
- Create symbols for a default field group - with/without description, with/without group actions
- Create symbols for a nested field group - with/without description, with/without group action

[2020-10-12 15:35] doruskova opened #303 "Add Scrollspy (vertical and horizontal)"
Add new Jump links (vertical and horizontal) to a symbol library and a template based on this mock: https://marvelapp.com/prototype/25f068g6
The Sketch file can be useful too: https://www.sketch.com/s/e6c01dec-8567-436c-b633-eda045100a37/v/WMyrWq

Taking this issue means:

**Symbol library:**

1. Create a new page called "Jump links"
2. **Create artboards (light version) for a [Vertical jump links

[2020-10-13 20:57] mmenestr commented on #297
Duplicate of https://github.com/patternfly/patternfly-design-kit/issues/295, so closing

[2020-10-13 20:57] #297 closed

[2020-10-13 21:17] mmenestr commented on #299
Just updated, so i'm closing

[2020-10-14 09:00] doruskova commented on #296
Merged!

[2020-10-14 09:00] #296 closed

[2020-10-14 13:02] doruskova commented on #274
Merged Navigation page

[2020-10-14 14:22] doruskova commented on #274
Merged everything else.

[2020-10-14 14:23] #274 closed

[2020-10-14 18:21] mmenestr commented on #301
Just added to the symbol library:
![image](https://user-images.githubusercontent.com/51165119/96029306-79ceaa80-0e28-11eb-8b3b-999b4fc4d7c0.png)

[2020-10-14 19:39] mmenestr commented on #301
Just added to the template file:
![image](https://user-images.githubusercontent.com/51165119/96037139-6bd25700-0e33-11eb-9a15-b416b335634f.png)

[2020-10-14 19:39] #301 closed

[2020-10-19 13:41] mmenestr opened #304 "Add "pre-release" badge to context selector symbol in the masthead"
Apparently, a context selector in the masthead isn't supported yet in PF so we should add a pre-release badge to it to make sure people know that!

[2020-10-19 14:35] doruskova commented on #304
@mmenestr Merged!

[2020-10-19 14:35] #304 closed

[2020-10-20 14:22] doruskova opened #305 "Group Skeleton and Spinner together in a symbol library"
I'd like to group Skeleton (#221 ) and Spinner symbols together because both are loaders just with a different style. It will help us not to increase the menu height unnecessarily.

1. Group Spinner and Skeleton symbols on the same page called "Loaders".

Hierarchy would be:
- Loaders > Skeleton > ...
- Loaders > Spinner > ...

**ON HOLD** until Skeleton symbols are finished.

[2020-10-21 20:27] maryshak1996 commented on #302
@doruskova these symbols should be all set! and I'll put together a template next week :)
[form-sections-symbols-addition.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5418547/form-sections-symbols-addition.sketch.zip)

[2020-10-22 13:20] doruskova commented on #302
@maryshak1996 Hey! Thank you so much for the update. I have a few questions.

1. What's the difference between the first/middle items and the last items? For example here:
<img width="1094" alt="Snímek obrazovky 2020-10-22 v 14 22 48" src="https://user-images.githubusercontent.com/32618096/96871854-1e796980-1473-11eb-8b21-0cf6142dbce6.png">

I just can't find a difference.

2. Can we differentiat

[2020-10-22 21:17] gdoyle1 opened #306 "Reorganize context selector symbols so they are in their own folder"

[2020-10-22 21:17] gdoyle1 opened #307 "Reorganize context selector symbols"
Reorganize context selector symbols so they are in their own "Context selector" folder

[2020-10-22 21:18] gdoyle1 commented on #307
Merged!

[2020-10-22 21:18] #307 closed

[2020-10-22 21:19] #306 closed

[2020-10-22 21:24] gdoyle1 opened #308 "Update secondary tab styles"
Update secondary tab symbols so they don't have a gray bottom border by default

[2020-10-22 21:24] gdoyle1 commented on #308
merged

[2020-10-22 21:24] #308 closed

[2020-10-23 18:18] ajacobs21e commented on #145
https://github.com/patternfly/patternfly-design-kit/issues/139 discussion about this issue

[2020-10-26 11:34] doruskova opened #309 "TRACKING - symbols with Core-only and Pre-release labels"
Tracking symbols which have a Core-only or Pre-release label. It helps to get a better overview of our symbols.

**Pre-release**

- Context selector
- Custom toast alerts
- Label group
- Form section
- Item counts - dropdown
- Expandable step in wizard

**Core-only**

- Form input - text box warning
- Notification drawer - recommendation
- Tabs (grey bg)

[2020-10-26 12:00] doruskova commented on #221
Skeleton symbols merged!

[2020-10-26 13:11] doruskova commented on #221
Template merged!

[2020-10-26 13:11] #221 closed

[2020-10-26 13:16] doruskova commented on #298
Waiting on the merge of the React PR.

[2020-10-26 13:59] doruskova opened #310 "Change background color for a Splitter"
Symbols for Splitter are currently using the wrong bg color `#F0F0F0`.

Correct bg color is: `#D2D2D2` which corresponds to _--pf-global--palette--black-300_

[2020-10-26 14:07] doruskova commented on #36
PF basic date picker available [here](https://www.patternfly.org/v4/components/date-picker/react)
@gdoyle1 I think we can remove "on hold" label. WDYT?

[2020-10-26 14:33] doruskova commented on #310
Merged!

[2020-10-26 14:33] #310 closed

[2020-10-26 15:48] gdoyle1 commented on #36
@doruskova Agreed!

[2020-10-26 21:25] maryshak1996 commented on #302
Okay, so @doruskova the naming convention is slightly different than what you have but it's definitely much closer and supports nested vs field group versions :) here it is
[form-sections-symbols-addition.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5441647/form-sections-symbols-addition.sketch.zip)

[2020-10-27 08:56] doruskova commented on #302
@maryshak1996 You're amazing. Thank you so much!

[2020-10-29 11:55] doruskova commented on #302
@maryshak1996 Merged!

[2020-10-29 12:06] doruskova commented on #305
Merged!

[2020-10-29 12:06] #305 closed

[2020-10-29 12:22] doruskova commented on #298
Symbol merged!

[2020-10-29 12:30] #298 closed

[2020-10-29 19:14] maryshak1996 commented on #302
Annnnnnd here's the template!
[form-sections-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5460741/form-sections-template.sketch.zip)

[2020-10-30 09:45] doruskova opened #311 "Change the color of check icon"
The color of the check icon when the item is selected should be blue `#0066cc`, not gray.

![image (1)](https://user-images.githubusercontent.com/32618096/97690127-dbd01680-1a9c-11eb-9e2b-f07f1ed37dc7.png)

The symbol is in a dropdown > Menu item > single select

[2020-10-30 09:51] doruskova commented on #311
Fixed!

[2020-10-30 09:52] #311 closed

[2020-10-30 13:15] #302 closed

[2020-11-02 15:59] doruskova opened #312 "Add items without icons in a Tree view (different indentation)"
Currently, we support just 1 option for items that have no child. This option includes leaf nodes with icons. But, we'd like to add leaf nodes without icons.

It should look like the first option below:
![with-icons](https://user-images.githubusercontent.com/32618096/97889495-b9ecc300-1d2c-11eb-826a-4c2d29dccba5.png)

[2020-11-03 15:21] doruskova opened #313 "New icons for "New" and Not started icons"

[2020-11-03 15:23] doruskova opened #314 "Missing resources icons"
https://github.com/patternfly/patternfly-design/issues/930

[2020-11-03 15:24] doruskova opened #315 "Splitter demo"

[2020-11-03 15:47] doruskova commented on #315
@maryshak1996 Would you mind taking this issue? I know you've been working on it, but if you don't want to do it, just let me know :) Also, it's possible that the symbol will need a change (background color) too.

[2020-11-03 15:59] maryshak1996 commented on #315
@doruskova sure, I'll take this!

[2020-11-03 16:02] doruskova opened #316 "Tabs: Underline” symbol has a white background"
Change the background to be transparent.

[2020-11-03 16:04] doruskova commented on #315
Thank you!

[2020-11-05 09:59] doruskova commented on #312
Merged!

[2020-11-05 09:59] #312 closed

[2020-11-09 15:15] #36 closed

[2020-11-09 16:42] doruskova opened #317 "New presentation of "Page" artboards in a template"
"Page" artboards in a template are out of date and they can be presented in the "Navigation" page.
@mcarrano FYI

[2020-11-10 14:33] mmenestr opened #318 "Symbol library request for Notification drawer symbols"
@doruskova Wondering if it would be possible to switch the ordering for the naming of notification drawer symbols:

Instead of having Read or unread first, and then default and hover last, could we make it so that default and hover are first, and then read and unread are last? It makes more sense in terms of symbol usage. I'm using it heavily right now and I never use the hover state, only read an

[2020-11-10 15:56] doruskova commented on #318
@mmenestr Haha, yes I agree that it's not practical at all and your suggestion makes sense to me. Anyway, I'll have to go through the library and notice issues like this. Do you want to change this component? But, if you don't have time, I can do it. :) It's up to you.

[2020-11-10 19:42] mmenestr commented on #318
Do you mind doing it? Will be forever grateful!! :)

[2020-11-11 15:06] doruskova commented on #318
No problem :)

[2020-11-11 15:34] doruskova commented on #318
@mmenestr Fixed!

[2020-11-11 15:34] #318 closed

[2020-11-12 12:18] doruskova commented on #314
Merged!

[2020-11-12 12:18] #314 closed

[2020-11-12 12:19] doruskova commented on #313
Merged!
[pf-new-icons-nov11.zip](https://github.com/patternfly/patternfly-design-kit/files/5530539/pf-new-icons-nov11.zip)

[2020-11-12 12:19] #313 closed

[2020-11-13 17:12] maryshak1996 commented on #315
@doruskova I put together three template examples here :)
I checked the background color of the splitter demo against what's been implemented and it looks to be correct.
I didn't include a spec artboard because there's nothing to really be aware of with the spacing of the splitter itself. If you want me to do a spec in some other way, let me know!
[patternfly-template_splitter-template.sketch.zip]

[2020-11-16 11:40] doruskova commented on #315
@maryshak1996 Merged!
That's totally fine, the spec wouldn't make sense in this case.

[2020-11-16 11:40] #315 closed

[2020-11-16 15:20] doruskova opened #319 "Background behind a modal/wizard is blurred?"
The background behind modal or wizard is blurred in our template examples but in reality, only the background is just darkened.

[2020-11-23 09:52] doruskova commented on #319
Merged!

[2020-11-23 09:52] #319 closed

[2020-11-23 09:54] doruskova commented on #303
@lboehling Hey Lucia. Do you mind taking this issue? Just wanted to check the status. :)

[2020-11-23 16:10] doruskova opened #320 "Update the splitter background"

[2020-11-23 16:14] doruskova opened #321 "Marketing card with larger spacing and text"

[2020-11-23 16:20] doruskova opened #322 "Empty state card variation"

[2020-11-23 16:24] doruskova opened #323 "Tabs demo"

[2020-11-23 16:27] doruskova opened #324 "Update Datepicker visual"
Follow new design for a calendar https://www.patternfly.org/v4/components/date-picker

[2020-11-24 11:50] doruskova commented on #324
Merged!

[2020-11-24 11:50] #324 closed

[2020-11-24 14:59] doruskova commented on #320
Updated symbol library!

[2020-11-26 10:03] doruskova commented on #320
Updated template file > removed Splitter page. Splitter examples are included in a Primary-detail page/Drawer and notification drawer page.

[2020-11-26 10:03] #320 closed

[2020-11-26 10:41] doruskova commented on #321
Merged cards with large spacing 32px and large title (24px)

[2020-11-26 10:43] doruskova commented on #321
Note: Need rounded corners so that I can put it in a template file.

[2020-11-26 10:43] #321 closed

[2020-12-02 08:14] doruskova commented on #316
@mceledonia Could you specify what type of tabs has a white background? I can fix it this week :)

[2020-12-02 08:22] doruskova commented on #323
@gdoyle1 Hey Gina! I got the info from Matt that you've been working on a demo for Tabs. Do you want to take this issue or add a sketch template here so that I can add it to a template and symbols?

[2020-12-02 08:25] doruskova commented on #317
@mcarrano Is there any update on this? Just checking.

[2020-12-02 13:12] gdoyle1 commented on #323
@doruskova yes sounds good!

[2020-12-02 14:56] mcarrano commented on #317
Thanks for the reminder @doruskova . I have been working on the Page guidelines and when I'm done I will send you updates to the template file.

[2020-12-02 14:57] doruskova commented on #317
@mcarrano Thank you!

[2020-12-04 21:53] mcarrano commented on #317
@doruskova here are the images I created for the Page guidelines documentation. https://www.sketch.com/s/929590e6-9636-4ded-913b-ec3b5dc7f726/v/JzK217/p/page  I can make templates from these and replace the content of the current Page page in the template file, but these are not really any different from what's on the Navigation page. Do you think we need both? Maybe we should just remove Page and

[2020-12-07 10:37] doruskova commented on #317
@mcarrano oh, the link doesn't work. Can you give me access to your document? Thank you!

[2020-12-08 11:12] doruskova commented on #317
@mcarrano Yeah, it looks similar. So, I think that it's a great idea to remove the "Page" page (haha) and rename Navigation to "Page with navigation". It makes more sense. Thank you!

I can make this change quickly :)

[2020-12-14 11:59] doruskova commented on #317
@mcarrano Merged!

[2020-12-14 11:59] #317 closed

[2020-12-14 16:01] doruskova commented on #285
@gdoyle1 Is there any progress? Just checking before this year ends.

[2020-12-14 16:07] gdoyle1 commented on #285
I will take a look at this and my other remaining issues right now!

[2020-12-14 16:16] doruskova opened #325 "Labels demo"
Create Labels page in a template and add these examples of using labels in a page https://marvelapp.com/prototype/bd077ag/screen/74286991

[2020-12-14 16:18] doruskova opened #326 "List variants"
Add list variants to a template. Mocks are available here https://marvelapp.com/prototype/7gc36d1/screen/75109901

[2020-12-14 16:21] #322 closed

[2020-12-14 16:35] doruskova commented on #325
@maryshak1996 Would you mind taking this issue? If you don't have time, it's ok. Just add the sketch file here for me so that I can add it :)

[2020-12-14 16:39] doruskova commented on #326
@maryshak1996 You've been working on this too, haha. So, if you can't add these to a template > it's fine, I can add it there. Just share the sketch file here. Thank you!

[2020-12-14 18:02] maryshak1996 commented on #325
@doruskova ya sure! also, just a heads up -- we are proposing some updates to the label component itself to support stronger accessibility. Once that issue comes in, you're welcome to assign that to me as well :)

[2020-12-14 20:31] gdoyle1 commented on #285
Merged this! Ended up adding code editor as a new page with code block (where you can have read-only and editable code blocks) as well as code snippets (formatting text to look like code). Added templates for this as well

[2020-12-14 20:31] #285 closed

[2020-12-14 20:42] gdoyle1 commented on #300
Merged!

[2020-12-14 20:42] #300 closed

[2020-12-14 21:11] gdoyle1 commented on #292
Merged!

[2020-12-14 21:11] #292 closed

[2020-12-14 21:24] gdoyle1 commented on #291
Merged!

[2020-12-14 21:24] #291 closed

[2020-12-14 21:43] gdoyle1 commented on #323
Merged!

[2020-12-14 21:43] #323 closed

[2020-12-15 09:19] doruskova commented on #285
@gdoyle1 Thank you! You're amazing.

[2020-12-15 15:40] maryshak1996 commented on #326
@doruskova do you think that it would make sense to create symbols for the list items with icons as well? I think that it might help people use correct spacing and sizing if I made symbols for this too

[2020-12-15 15:42] doruskova commented on #326
@maryshak1996 Yeah, that's a great idea!

[2020-12-16 10:46] #316 closed

[2020-12-16 21:45] maryshak1996 commented on #326
@doruskova here are the list variant symbols! Once these are merged in, I'll make the template :)
[List variant symbols addition.zip](https://github.com/patternfly/patternfly-design-kit/files/5705648/List.variant.symbols.addition.zip)

[2020-12-17 10:11] doruskova commented on #326
@maryshak1996 Merged! The only thing I changed is the RH logo to be higher quality :)

[2020-12-22 19:24] mmenestr opened #327 "Dual list symbol"
The styling for a selected item with checkbox has changed. Instead of a selection being shown just with the checkbox, the text should now also be bolded and blue.

![image](https://user-images.githubusercontent.com/51165119/102925466-6875d000-4461-11eb-9974-9cee7c5f0ac5.png)

[2021-01-04 09:19] doruskova commented on #327
Thank you for letting me know. I'm going to fix it today :)

[2021-01-04 13:23] doruskova commented on #327
Merged!

[2021-01-04 13:23] #327 closed

[2021-01-05 14:06] doruskova commented on #303
Symbols merged!

[2021-01-05 15:33] doruskova commented on #303
Template merged!

[2021-01-05 15:33] #303 closed

[2021-01-11 15:56] doruskova opened #328 "Draggable rows in a data list"
Add draggable rows as a new symbol with compact and large spacing. Mocks are available here. https://marvelapp.com/prototype/2754jdc6/screen/75277643

[2021-01-11 16:05] doruskova opened #329 "Advanced search"
Add Advanced search to a template. Mocks available here:
https://marvelapp.com/prototype/276i4086/screen/75506113

[2021-01-11 18:20] maryshak1996 opened #330 "Update labels symbols"
We have made more updates to the label component itself to better support accessibility over a grey background. updates can be seen here: https://marvelapp.com/project/5380059/screen/75382724
Related to : #325

[2021-01-12 09:42] doruskova opened #331 "Update datepicker design for selected date"
The design was updated https://www.patternfly.org/v4/components/date-picker

[2021-01-12 16:44] maryshak1996 commented on #330
Symbols are all set here :) at some point, we will be revisiting a new red color to use for the outline on Red-Heavy ([issue here](https://github.com/patternfly/patternfly-design/issues/979)), but this should be up to date and ready to merge!
[labels-addition.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5803497/labels-addition.sketch.zip)

[2021-01-14 15:49] doruskova commented on #331
Added focus state for selected and current date.

[2021-01-14 15:50] #331 closed

[2021-01-19 20:25] maryshak1996 opened #332 "Text with unintentional stroke"
I noticed that the focus state for the text input component has a grey stroke on it, which is definitely not intentional (shown below)
<img width="1217" alt="Screen Shot 2021-01-19 at 3 25 22 PM" src="https://user-images.githubusercontent.com/19824574/105089003-95220500-5a6a-11eb-8b45-7ef3d78fb58a.png">
I didn't dig deep into this yet to see if this is an accidental stroke applied to that whole te

[2021-01-20 10:32] doruskova commented on #332
Yeah, I think that the focus state needs to be updated in general because usually, it's just the blue rounded border around the input. It doesn't have a lighter background around it. I'll take a look at it and fix it :)
<img width="850" alt="Snímek obrazovky 2021-01-20 v 11 30 19" src="https://user-images.githubusercontent.com/32618096/105162499-fbfaf900-5b12-11eb-8e8a-3cc6275d7278.png">

[2021-01-21 15:03] doruskova commented on #332
@maryshak1996 I think it was just a bug and it's fixed now. There was a border for no reason. But, I'll open an issue for the redesign of the focus state.
![Snímek obrazovky 2021-01-21 v 16 02 44](https://user-images.githubusercontent.com/32618096/105368804-2f688100-5c02-11eb-9be7-92f1cd98db09.png)

[2021-01-21 15:03] #332 closed

[2021-01-21 15:20] doruskova opened #333 "Update focus state visual in forms"
The current design for the focus state of the text box is not up to date. It should have only the blue rounded border.

[2021-01-25 13:03] doruskova commented on #328
Added draggable expandable rows for a data list.

[2021-01-25 21:12] maryshak1996 opened #334 "Incorrect spacing in form sections symbols"
I noticed that what is in the design kit uses `16px` spacers for padding in the the form sections, but what's implemented uses `24px` spacers above and below.

### Design kit
<img width="1090" alt="Screen Shot 2021-01-25 at 4 08 23 PM" src="https://user-images.githubusercontent.com/19824574/105766692-0dd00800-5f28-11eb-8a73-cf4f53d08c81.png">

### Implementation
<img width="740" alt="Screen Shot 2

[2021-01-25 21:29] maryshak1996 commented on #334
I'm actually noticing several issues with this symbol group (some of the overrides that should be editable are not and some the nesting behavior isn't consistent with the implementation). @doruskova I'm happy to make these fixes if you'd like, while the things are fresh on my mind!

[2021-01-26 08:09] doruskova commented on #334
@maryshak1996 Go ahead! Thankk you that you found this issue!

[2021-01-29 16:25] ajacobs21e opened #335 "Login page template sizing discrepancies"
![image](https://user-images.githubusercontent.com/6415742/106300481-8da9eb00-6224-11eb-9063-02c8b70cbef0.png)

![image](https://user-images.githubusercontent.com/6415742/106300533-9b5f7080-6224-11eb-9a60-46b47a6a7a8a.png)

Sketch template file uses 2XL for title. Code is 3XL. Which one is right?
@mceledonia

[2021-01-30 00:04] maryshak1996 commented on #334
Updated symbols here:
[form-sections-updates.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5896968/form-sections-updates.sketch.zip)

[2021-02-01 09:17] doruskova commented on #333
Keep the current visual, the focus state depends on a browser.

[2021-02-01 09:17] #333 closed

[2021-02-01 16:26] doruskova opened #336 "Add underlined link"
Add underlined link to a symbol library under Forms > Label field
Create a default and hover state.
![105116248-5c008980-5a98-11eb-8bd7-2f050649119c](https://user-images.githubusercontent.com/32618096/107928545-c3670780-6f78-11eb-8e64-98b197878ce0.png)

[2021-02-01 16:28] doruskova opened #337 "Update popover shadow"

[2021-02-01 16:32] doruskova opened #338 "Grey background for a drawer"
Add a grey option for a static inline drawer.
![wizard-grey-v3](https://user-images.githubusercontent.com/32618096/106719178-46e03a80-6602-11eb-9dd1-810575b90aee.png)

[2021-02-01 16:34] doruskova opened #339 "Add slider component"
Add slider component from [here]( https://www.patternfly.org/v4/components/slider) to a symbol library.

1. Create a circle indicator (default, hover, and selected state)
- Slider/3. Circle > 1. Default (2.Hover, 3.Selected)

2. Create a grey line track
- Slider/2. Line track/With steps
- Slider/2. Line track/Without steps

3. Create a blue line track with a circle
- Slider/1. Main track

@jhiadlo

[2021-02-02 14:29] doruskova commented on #330
@maryshak1996 Merged! Sorry for my delayed action.

[2021-02-02 14:29] #330 closed

[2021-02-02 16:00] doruskova commented on #328
Template merged!

[2021-02-02 16:00] #328 closed

[2021-02-02 16:04] doruskova commented on #337
Medium shadow updated to large shadow

[2021-02-02 16:05] #337 closed

[2021-02-02 19:33] mceledonia commented on #335
Let's go with 3xl as is implemented, we can update the template file accordingly @ajacobs21e @doruskova

[2021-02-03 11:53] doruskova commented on #338
Grey inline drawer added to a symbol library.

[2021-02-03 11:53] #338 closed

[2021-02-03 12:35] doruskova commented on #335
@ajacobs21e @mceledonia Template has been fixed!

[2021-02-03 12:35] #335 closed

[2021-02-04 09:23] doruskova opened #340 "Update code editor"
Update design of code editor to reflect the current visual https://www.patternfly.org/v4/components/code-editor

[2021-02-09 01:12] neanda opened #341 "Card / Marketing card (32px spacers) / Default (large text)"
the Icon needs to to be Pinned to Top  :)

[2021-02-10 11:40] doruskova commented on #341
@neanda Fixed! Thank you :)

[2021-02-10 11:41] #341 closed

[2021-02-10 13:19] doruskova commented on #340
Merged!

[2021-02-10 13:19] #340 closed

[2021-02-10 13:25] doruskova commented on #334
@maryshak1996 Merged!

[2021-02-10 13:25] #334 closed

[2021-02-15 09:41] doruskova commented on #325
@maryshak1996 Label symbols have been updated :)

[2021-02-15 16:28] maryshak1996 commented on #325
[Uploading Labels-demo-addition.sketch.zip…]()
Here's the demo!

[2021-02-16 13:21] jhiadlov commented on #336
[PatternFly underlined symbol.zip](https://github.com/patternfly/patternfly-design-kit/files/5988809/PatternFly.underlined.symbol.zip)
Here the underlined link. :)

[2021-02-16 13:28] doruskova commented on #336
@jhiadlov Merged!

[2021-02-16 13:29] #336 closed

[2021-02-17 09:24] jhiadlov commented on #329
[attribute value search.zip](https://github.com/patternfly/patternfly-design-kit/files/5994614/attribute.value.search.zip)
Done:)

[2021-02-17 09:43] doruskova commented on #325
@maryshak1996 Can you upload it again? I think that something went wrong because I can't download the file.

[2021-02-17 15:45] maryshak1996 commented on #325
[Labels-demo-addition.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/5996777/Labels-demo-addition.sketch.zip)
Hopefully this one works!

[2021-02-17 15:52] doruskova commented on #325
@maryshak1996 Merged! Thank you!

[2021-02-17 15:52] #325 closed

[2021-02-18 11:55] jhiadlov commented on #329
[attribute value search + autocomplete.zip](https://github.com/patternfly/patternfly-design-kit/files/6002553/attribute.value.search.%2B.autocomplete.zip)
added autocomplete

[2021-02-18 14:04] doruskova commented on #329
@jhiadlov Merged! Symbol and a template.

[2021-02-18 14:04] #329 closed

[2021-02-22 16:04] doruskova opened #342 "Update menu section header style"
**Design specification:**
Text - Size $pf-global--FontSize--xs -- Color $pf-global--Color--200
Spacing - All the same

[2021-02-22 16:10] doruskova opened #343 "Item counts to the select dropdown"
Add item counts (right-aligned) to a symbol library and an example to a template.
Mocks for symbol: https://marvelapp.com/prototype/c18hjf1/screen/76910983
Mocks for a template: https://marvelapp.com/prototype/c18hjf1/screen/76941197

https://github.com/patternfly/patternfly-design/issues/759

[2021-02-27 09:22] jhiadlov commented on #339
[slider.zip](https://github.com/patternfly/patternfly-design-kit/files/6054073/slider.zip)
I made discrete and continuous sliders, I hope it will be alright :)

[2021-03-01 09:13] doruskova commented on #326
@maryshak1996 Any update here?

[2021-03-01 15:42] maryshak1996 commented on #326
@doruskova woops, totally let the template fall off of my radar! I've got bandwidth to work on it this week :)

[2021-03-01 18:47] maryshak1996 commented on #326
[list-variants-template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6063777/list-variants-template.sketch.zip)
@doruskova I had made weeks ago and just forgot to post it here :p

[2021-03-02 10:25] doruskova commented on #339
@jhiadlov Merged! I changed it a little bit to make it more simple so that user can create a slider fast. However, awesome job! I took a look at all your layers and components and it was really nicely created.

[2021-03-02 10:26] #339 closed

[2021-03-02 10:37] doruskova commented on #326
@maryshak1996 Merged! Thank you!

[2021-03-02 10:37] #326 closed

[2021-03-02 10:52] doruskova commented on #342
Merged! Changed font-size. The color is the same.

[2021-03-02 10:52] #342 closed

[2021-03-03 15:02] doruskova opened #344 "Add marketing variation of accordion"
https://www.sketch.com/s/00432cc6-fd0c-454f-bdd6-c9720ceebbdc/a/OvQza4

https://github.com/patternfly/patternfly/pull/3888

[2021-03-03 15:15] ajacobs21e commented on #344
I'll take this since it's my sketch file you linked :)

[2021-03-04 14:57] ajacobs21e commented on #344
Fixed resizing behaviour of subtext on Tile components
Added large bordered accordion
-- includes adding Icon / Web Components / angle right & angle down
Added bordered accordion

There is a random icon button (kebab) on the accordion page. Do we know why that's there?

[PatternFly_tile_and_accordion.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6084531/PatternFly_tile_and_

[2021-03-04 15:49] doruskova commented on #344
Thank you! Huh, I'll remove the icon, it's a bug.

[2021-03-05 11:01] doruskova commented on #344
@ajacobs21e Merged!

[2021-03-05 11:01] #344 closed

[2021-03-08 11:21] jhiadlov commented on #343
[number of items.zip](https://github.com/patternfly/patternfly-design-kit/files/6100982/number.of.items.zip)
I think I made it. In the first 2 symbols, I didn't use the same padding, please check it and tell me which one is correct, I will fix it. :)

[2021-03-08 11:22] doruskova opened #346 "Rename artboards from something/something to something / something with gaps"
I was exporting our symbols to SVGs and some folders have been generated twice and the reason is that some artboards have this format, for example, **Labels/8. Label group/3. Show less/2. Hover** without gaps and it causes the problem with a plugin for exporting SVGs.

Need to rename artboards to this format >> **Labels / 8. Label group / 3. Show less / 2. Hover**
**USE THIS FORMAT ONLY**

[2021-03-08 11:24] doruskova opened #347 "Fix SVGs!"
Export SVGs without duplicate folders!

#346

[2021-03-08 12:02] doruskova commented on #343
@jhiadlov I've checked the symbol and when there's only a number > it should definitely follow the current menu item design. I mean it should have the same spacing and height.
You used toggle symbols and it's correct for Catalog view. However, we need this symbol for the Select dropdown. You can find this group of symbols in Dropdown > Menu item

It looks good to me, just add this type of symbol f

[2021-03-08 12:13] doruskova opened #348 "Update README doc"
Update info in the README document in this repository.

[2021-03-08 12:15] doruskova opened #349 "Add info about adding labels Pre-release and Core-only to a symbol lib and template"
Need to add info about adding labels to our component into a description doc (symbol lib and template)

[2021-03-08 12:20] doruskova commented on #349
Merged!

[2021-03-08 12:21] #349 closed

[2021-03-09 14:18] jhiadlov commented on #343
[number of items.zip](https://github.com/patternfly/patternfly-design-kit/files/6109092/number.of.items.zip)
Fixed :)

[2021-03-09 15:58] doruskova opened #350 "Update radio buttons!"
Currently, there is no way to have a selected-disabled Radio button, and also the not-selected-disabled
[Implementation](https://www.patternfly.org/v4/components/radio/#disabled)

Add selected-disabled and update not-selected-disabled radio buttons to reflect the current implementation.

[2021-03-10 10:21] doruskova commented on #343
@jhiadlov Could you add it to your downloaded library so that you have these new symbols with other symbols? And remove this symbol: Dropdown with label. It won't be a new symbol because badge and dropdown are already available in a library. Thank youu, great work!

[2021-03-10 14:53] doruskova commented on #346
Merged! All pages have been updated to format with spacing before and after /

[2021-03-10 14:53] #346 closed

[2021-03-12 12:12] #347 closed

[2021-03-12 13:30] jhiadlov commented on #350
[Uploading PatternFly.sketch.zip…]()

[2021-03-12 13:38] jhiadlov commented on #350
[PatternFly.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6130341/PatternFly.sketch.zip)
once again

[2021-03-12 15:09] #348 closed

[2021-03-15 11:52] jhiadlov commented on #343
[PatternFly.sketch 2.zip](https://github.com/patternfly/patternfly-design-kit/files/6141081/PatternFly.sketch.2.zip)

[2021-03-15 12:39] doruskova commented on #350
@jhiadlov Merged!

[2021-03-15 12:39] #350 closed

[2021-03-15 12:52] doruskova commented on #343
@jhiadlov Merged!

[2021-03-16 15:13] doruskova opened #353 "Expansion for wizard steps"
Add expansion symbol for wizard steps (Create only **one** symbol with arrow)
Mocks available here https://marvelapp.com/prototype/142h0f9e

Add an example to a template file.
- Choose one screen (capturing the expansion) from a mock above and put it to a high-fidelity mock.
- Don't create a mock with grey borders only. I want to see something like this https://www.sketch.com/s/729c2eee-e8b6-4fcd-

[2021-03-17 08:28] doruskova commented on #343
@jhiadlov Create symbols for Catalog view with item counts

[2021-03-17 08:58] doruskova opened #354 "Update Wizard"
Update wizard symbols to reflect the current implementation

[2021-03-17 13:41] doruskova commented on #354
Merged!

[2021-03-17 13:41] #354 closed

[2021-03-22 09:52] jhiadlov commented on #343
[Toggle with number.zip](https://github.com/patternfly/patternfly-design-kit/files/6181105/Toggle.with.number.zip)
I did toggle with number

[2021-03-22 10:22] doruskova commented on #343
@jhiadlov Merged!

[2021-03-22 10:30] doruskova opened #355 "Add menu item with description for drill-down menu"
Add menu item with a description as a new symbol
https://www.patternfly.org/v4/components/menu#with-drilldown

[2021-03-22 10:34] doruskova opened #356 "Add show/hide password to a Login page"
Add Show/hide password to a template file. You can add this optional feature to some of our current screens.
Implementation here: https://www.patternfly.org/v4/components/login-page#showhide-password

Use icon from fontawesome

[2021-03-22 10:42] doruskova opened #357 "Update charts in a template file"

[2021-03-22 11:14] jhiadlov commented on #343
[Toggle with number.zip](https://github.com/patternfly/patternfly-design-kit/files/6181678/Toggle.with.number.zip)
Fixed

[2021-03-23 08:01] jhiadlov commented on #343
[Catalog view.zip](https://github.com/patternfly/patternfly-design-kit/files/6187832/Catalog.view.zip)
I made Catalog view template :)

[2021-03-23 08:46] doruskova commented on #343
@jhiadlov Amazing! Thank you! I'm going to merge it.

[2021-03-23 09:01] #343 closed

[2021-03-29 10:25] jhiadlov commented on #353
[wizard steps.zip](https://github.com/patternfly/patternfly-design-kit/files/6221027/wizard.steps.zip)
I made 3 new types of wizard steps, in First and in After first. If there will be anything wrong, let me know, I'll fix it :)

[2021-03-30 08:36] doruskova commented on #353
@jhiadlov Thank you! It looks good. However I noticed few things. Could you remove the "Opened" symbols? It's not necessary because if you use the first symbol with arrow > you can easily change the arrow icon. Also, I want to avoid overcrowding the menu with symbols.
<img width="585" alt="Snímek obrazovky 2021-03-30 v 10 24 34" src="https://user-images.githubusercontent.com/32618096/112958027-51

[2021-03-31 06:50] jhiadlov commented on #353
[fixed wizard steps.zip](https://github.com/patternfly/patternfly-design-kit/files/6234370/fixed.wizard.steps.zip)
I hope it is alright now :)

[2021-03-31 08:22] doruskova commented on #353
@jhiadlov It looks great! Thank you, I'll merge it.

[2021-03-31 10:59] doruskova commented on #353
@jhiadlov Symbols merged!

[2021-03-31 12:14] doruskova opened #358 "Minimize nested folders that are not necessary"
I'd like to make the library more simple and some symbols are nested too much.
Goal: reorganize some symbols to avoid 3 or more nested folders

[2021-03-31 12:33] ajacobs21e commented on #358
ALERTS! I can take on that folder if we want to break this up into multiple tasks

[2021-03-31 12:44] doruskova commented on #358
@ajacobs21e Definitely! I'll create an epic so that we can include issues there.

[2021-03-31 12:46] doruskova opened #359 "Minimize symbols structure: Wizard"
Remove folder with: first, middle, and last to make this Wizard section shorter. The padding will be specified in a template file.

[2021-03-31 12:47] doruskova opened #360 "Minimize symbols structure: Alerts"

[2021-03-31 13:56] doruskova opened #361 "Minimize symbol structure: Radio buttons / checkboxes"

[2021-04-04 07:12] jhiadlov commented on #353
[wizard template.zip](https://github.com/patternfly/patternfly-design-kit/files/6254078/wizard.template.zip)
I made a wizard template. I add a pre-release label, but I don't know how to make it visible. Because when it is out of the artboard it is not visible :/

[2021-04-04 11:34] jhiadlov commented on #355
[drill down menu w description.zip](https://github.com/patternfly/patternfly-design-kit/files/6254448/drill.down.menu.w.description.zip)
I did 3 drill down menus with a description :)

[2021-04-06 07:57] doruskova commented on #355
@jhiadlov Looks great! Thank you! Btw. Don't work on Sunday!!

[2021-04-06 09:04] doruskova opened #362 "Minimize symbol structure: Drill-down menu"

[2021-04-06 09:21] #355 closed

[2021-04-06 09:36] doruskova commented on #353
@jhiadlov Looks great too. And the label in a template needs to be placed inside of the artboard because as you said >> it's not visible then. I usually put it to the upper right corner. But, no worries. I've already put it there so you don't have to do it.

MERGED!

I'm just wondering if wording for the symbol is ok "With arrow" or we should use, for example, "Expandable". WDYT?

[2021-04-06 09:38] #353 closed

[2021-04-06 11:06] jhiadlov commented on #353
I didn't know how to name it properly 😅, so "Expandable" sounds pretty good to me :)

[2021-04-08 11:55] doruskova opened #363 "Add Code block"
Add Code block https://www.patternfly.org/v4/components/code-block
to a template file next to the code editor.

Add Core only label

[2021-04-09 07:16] doruskova opened #364 "Update microcopy in a template file"

[2021-04-12 15:35] doruskova opened #365 "Secondary horizontal nav (sub menu)"
Update primary nav and create new subnav that replace tertiary nav.
https://marvelapp.com/prototype/fj0941h/screen/77719995

Full issue @jhiadlov:
https://github.com/patternfly/patternfly-design/issues/958

- [x] 1. Update primary nav. The symbols are available in a symbols library here: masthead > horizontal nav
- [x] 2. Create new sub nav symbols for "Secondary horizontal nav"
- [x] 3. Add pre-r

[2021-04-12 15:43] doruskova opened #366 "Disclosure - marketing context"
Add a disclosure to a template file. Sketch file available:  https://www.sketch.com/s/00432cc6-fd0c-454f-bdd6-c9720ceebbdc/a/0D2ZYy

https://github.com/patternfly/patternfly-design/issues/874

[2021-04-12 15:50] doruskova opened #367 "View more for option overflow"
https://marvelapp.com/prototype/c49ebi3/screen/77975699

Add the "View more" option to a template file.

Add pre-release label to a template

[2021-04-12 15:52] doruskova opened #368 "Change styling for toggle group"
Update **toggle group** symbols to reflect new styling (see picture below).
<img width="311" alt="109863537-c11ad380-7c2f-11eb-8fba-e7b15df2fe23" src="https://user-images.githubusercontent.com/32618096/114709060-698e7e00-9d2c-11eb-8481-72722e8b16d6.png">

Current style:
<img width="959" alt="Snímek obrazovky 2021-04-14 v 14 30 29" src="https://user-images.githubusercontent.com/32618096/114710425-

[2021-04-13 14:28] ajacobs21e opened #369 "Add eye and eye-slash icons"

[2021-04-14 11:06] doruskova commented on #369
@ajacobs21e Working on it to get these icons to our PF icons set.

https://github.com/patternfly/patternfly-design/issues/1028

[2021-04-14 12:34] doruskova commented on #356
This issue depends on #369

[2021-04-14 14:56] bdellasc commented on #369
Related: https://github.com/patternfly/patternfly-design/issues/1028

[2021-04-14 18:14] mcarrano opened #370 "Update Avatar to create dark and light versions"
In release 2020.05 we are introducing new light and dark versions of the Avatar. These including new border treatments and placeholder image. See updates in this core PR: https://github.com/patternfly/patternfly/pull/3990

Original spec and artwork here: https://github.com/patternfly/patternfly/issues/3866

cc @ajacobs21e

[2021-04-14 19:20] mcarrano opened #371 "Remove pixel sizes from icon category labels"
Currently labeling use for icon groups is correct, but inconsistent with actual implementation (see https://github.com/patternfly/patternfly/issues/3957). Rather than risk a visual breaking change, I'm recommending that we just remove reference to the pixel sizes in the labeling and just refer to the icons as "small, medium, large, and x-large." So the dimensions would no longer appear in the menu

[2021-04-15 08:18] jhiadlov commented on #363
[Code block.zip](https://github.com/patternfly/patternfly-design-kit/files/6316263/Code.block.zip)
I add a new page called "Code block" and there are Basic and Expandable. I hope everything is alright. :)

[2021-04-15 09:50] doruskova commented on #363
@jhiadlov MERGED!

[2021-04-15 09:50] #363 closed

[2021-04-15 09:52] doruskova commented on #371
Makes sense!

[2021-04-15 18:22] ajacobs21e commented on #369
[PatternFly_eyecons.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6320351/PatternFly_eyecons.sketch.zip)

[2021-04-16 20:55] mcarrano opened #372 "Update Large Card symbol"
The large Card symbol does not match implementation. Should have 32px padding and spacing between sections except after title (24px). Title text is 20px. Body and footer are 16px. Here is an image

![card-types](https://user-images.githubusercontent.com/6619860/115082535-135c3f00-9ed4-11eb-880a-7b3305a18bb6.png)

[2021-04-19 09:32] doruskova commented on #369
@ajacobs21e Merged!

[2021-04-19 09:32] doruskova commented on #356
@jhiadlov Icons have been merged to a library so you can continue :)

[2021-04-19 09:41] doruskova commented on #371
@mcarrano Fixed!

[2021-04-19 09:41] #371 closed

[2021-04-19 11:53] abigaeljamie commented on #364
Thank you, @doruskova !

[2021-04-19 11:58] doruskova commented on #370
@mcarrano Updated!

[2021-04-19 11:58] #370 closed

[2021-04-20 10:58] jhiadlov commented on #356
[Show:Hide passwword.zip](https://github.com/patternfly/patternfly-design-kit/files/6342914/Show.Hide.passwword.zip)
I add an eye icon to the password field and rename "Labels" to "Username" and "Password" in desktop, tablet, and mobile versions. If there is anything wrong, let me know, I'll fix it. :)

[2021-04-20 11:23] doruskova commented on #356
@jhiadlov Did you send me the correct file? It should be added only in a template file, not a library.

[2021-04-20 11:42] jhiadlov commented on #356
[Show:Hide password.zip](https://github.com/patternfly/patternfly-design-kit/files/6343201/Show.Hide.password.zip)
yeah, I zipped the wrong file 🤦🏼‍♀️ sorry

[2021-04-20 11:46] doruskova commented on #356
@jhiadlov Could you add the icon also to the first artboard (it's Logic spec artboard) with spec?

[2021-04-20 12:34] gdoyle1 opened #373 "Add success and error help text to form symbols"
Our form symbols include variations of help text, but when you override the input field type to success/error, the help text remains in the default text color when it should be green/red depending on success/error.

Today
![Screen Shot 2021-04-20 at 8 32 35 AM](https://user-images.githubusercontent.com/30870144/115396621-30825d80-a1b3-11eb-9bc2-903782e6c8d7.png)

What it should be
![Screen Shot 20

[2021-04-20 13:02] doruskova commented on #372
@mcarrano Large card updated in a library

[2021-04-20 13:04] #372 closed

[2021-04-20 13:04] jhiadlov commented on #356
[Show:Hide Password.zip](https://github.com/patternfly/patternfly-design-kit/files/6343717/Show.Hide.Password.zip)

[2021-04-20 14:26] doruskova commented on #356
@jhiadlov MERGED!

[2021-04-20 14:26] #356 closed

[2021-04-20 14:36] doruskova commented on #373
@gdoyle1 Merged!

[2021-04-20 14:36] #373 closed

[2021-04-26 09:34] jhiadlov commented on #367
[added view more.zip](https://github.com/patternfly/patternfly-design-kit/files/6375902/added.view.more.zip)
So I added "view more" options in Select page, but I am not sure if I did it right, I am a little bit confused 😅

[2021-04-26 12:18] doruskova commented on #367
@jhiadlov Thanks! I noticed few things:

- Could you create a spec for the View more option? I mean include this padding spec into the Select spec artboard.
- Could you create only 2 new artboards that will be called: _Select / Checkbox (expanded) / View more (simple)_  a  _Select / Checkbox (expanded) / View more (sticky)_
- Could you add a "Pre-release" label to a spec?

Thank you :)

[2021-04-27 08:37] doruskova opened #374 "Remove empty groups of layers from a template file"
We have many empty groups of layers in a template file and they sometimes block other layers

[2021-04-27 10:17] doruskova commented on #374
Fixed! The template file doesn't have any empty groups of layers

[2021-04-27 10:17] #374 closed

[2021-04-29 09:24] jhiadlov commented on #367
[added View more option.zip](https://github.com/patternfly/patternfly-design-kit/files/6397518/added.View.more.option.zip)
I hope, I did right this time 😅

[2021-04-29 09:44] doruskova commented on #367
@jhiadlov It looks great. But, can you add padding to the first view more spec?

[2021-04-29 14:39] doruskova commented on #359
Merged!

[2021-04-29 14:39] #359 closed

[2021-04-29 20:41] katierik opened #388 "Label size in design kit does not match implemented"
![image](https://user-images.githubusercontent.com/23172038/116615615-91273e00-a909-11eb-8035-5a0854fb7351.png)
In implementation, the label text size is 14px.
![image](https://user-images.githubusercontent.com/23172038/116615674-a1d7b400-a909-11eb-8f2f-b873477e647d.png)
In the design kit, the label text size is 12px.

The larger label size in implementation does not work well for compact tables,

[2021-04-30 01:38] ajacobs21e commented on #360
I pulled everything up a level. if you think I should minimize further, let me know!
[PatternFly_alerts.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6402546/PatternFly_alerts.sketch.zip)

[2021-04-30 01:44] ajacobs21e commented on #361
Radio buttons were already done.  I did checkboxes
[PatternFly_checkboxes.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6402554/PatternFly_checkboxes.sketch.zip)

[2021-04-30 01:46] ajacobs21e commented on #366
Is this what is needed? I haven't been following this design story to know if it's changed. https://www.sketch.com/s/00432cc6-fd0c-454f-bdd6-c9720ceebbdc/a/0D2ZYy

[2021-04-30 09:41] doruskova commented on #367
@jhiadlov Any update?

[2021-04-30 10:31] #360 closed

[2021-04-30 10:56] doruskova opened #375 "Minimize symbol structure: Copy to clipboard"
Remove the expanded version of "Copy to clipboard" because collapsed version can be also expanded.

[2021-04-30 11:53] doruskova commented on #375
Merged!

[2021-04-30 11:53] #375 closed

[2021-04-30 12:27] doruskova commented on #361
@ajacobs21e You're a rockstar! Merged! I also thought about pulling out the checkboxes and radio buttons from the toggles section and put them directly under forms because when I use "toggle with text" and I want to change the checkbox > this is the result. Toggles folder/section seems duplicate. WDYT?
![Snímek obrazovky 2021-04-30 v 14 21 07](https://user-images.githubusercontent.com/32618096/11

[2021-04-30 12:49] ajacobs21e commented on #361
Yeah I can do that too!

On Fri, Apr 30, 2021, 8:27 AM Marie Dorušková ***@***.***>
wrote:

[2021-04-30 12:59] doruskova commented on #361
@ajacobs21e You don't have to :) I'll do it with a plugin.

[2021-04-30 13:49] ajacobs21e commented on #361
If you take all of the easy tasks, then what am I going to do? lol Thank you!

[2021-04-30 14:02] doruskova commented on #361
Merged! Haha, thank you so much! I really appreciate your work! Btw. I'll find some easy tasks for you :D

[2021-04-30 14:02] #361 closed

[2021-04-30 14:17] doruskova opened #376 "Minimize the structure: Dual list"

[2021-04-30 14:20] doruskova opened #377 "Minimize symbols structure: Form section"

[2021-04-30 14:26] doruskova commented on #366
@ajacobs21e Thanks for the reminder, haha! I just forgot to add this sketch link to a description :D

[2021-04-30 14:33] doruskova opened #378 "Minimize structure: Jump links"

[2021-05-02 08:31] jhiadlov commented on #367
[added paddings .zip](https://github.com/patternfly/patternfly-design-kit/files/6410998/added.paddings.zip)
got it :)

[2021-05-03 08:18] doruskova opened #379 "Black checkbox icons in a template file"
Don't know why it happened...The Sketch is getting crazy.

Checkboxes are white in a symbol library.. but for some components in a template file are black.

Need fix:
Cards, Catalog view, Column management, Data list and table, Dual list

[2021-05-03 11:13] doruskova commented on #367
@jhiadlov Merged!

[2021-05-03 15:06] doruskova opened #380 "Password strength indicator"
Add password strength indicator to login page in a template file.
https://marvelapp.com/prototype/6jehce7/screen/78511266

Reopened > need to resolve inconsistent icons for a placeholder https://github.com/patternfly/patternfly-design/issues/1062

[2021-05-03 15:08] doruskova commented on #364
From Abi
[Microcopy edits_ PF template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6415697/Microcopy.edits_.PF.template.sketch.zip)

[2021-05-03 15:10] doruskova opened #381 "Optional finish button in wizard"
Add optional finish button to wizard page in a template file. Mocks available

Create a new artboard for this option. Don't add it to existing wizard artboards. https://marvelapp.com/prototype/62dig4j/screen/78180859

[2021-05-03 15:16] doruskova opened #382 "Add search input with submit button"
Add new variant of search input with submit button to a template file
![68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3563653831363532346536633539346463316230646634642f31663139393162642d613261662d343733372d623536622d343132316665326363316266](https://user-images.githubusercontent.com/32618096/116985911-68b68f80-accd-11eb-9f62-d95a7911afa0.png)

[2021-05-03 15:26] doruskova opened #383 "Add icon or image placeholder for cards"
1. Create a card variation that includes a placeholder for the image/logo and add it to a symbol library.
2. Add a spec to a template file
3. Use the new symbols in a template file. Replace the old detached cards with the new component that allows adding images/logos.

[2021-05-04 11:28] jhiadlov commented on #368
[toggle group.zip](https://github.com/patternfly/patternfly-design-kit/files/6420730/toggle.group.zip)
I just made in Toggle group on white bg first group without icon, could you please check it and tell me if it is right or if I should do it another way :) thanksss

[2021-05-04 14:44] doruskova commented on #367
Just reopening the issue because of template file bug

[2021-05-04 14:51] doruskova commented on #379
Deleted recent updates from yesterday. So the last update is from 29.4. 2021, 16:36

[2021-05-05 07:53] doruskova commented on #368
Michael added spec for this component
![unnamed](https://user-images.githubusercontent.com/32618096/117111346-bb548200-ad87-11eb-9fec-943ece5f1e92.png)

[2021-05-05 08:54] doruskova commented on #379
Reported to a Sketch team and waiting for the answer.

[2021-05-05 13:57] #379 closed

[2021-05-06 12:13] #367 closed

[2021-05-10 11:27] doruskova commented on #362
Merged! Removed first and last symbols because it makes the library more nested and unaccesible. Padding is described in a template file.

[2021-05-10 11:27] #362 closed

[2021-05-10 11:36] doruskova commented on #376
Fixed! Decreased the number of nested folders to 3.

[2021-05-10 11:36] #376 closed

[2021-05-10 11:51] doruskova commented on #377
Fixed! Grouped some folders together to decrease the amount of folders inside of forms.

[2021-05-10 11:51] #377 closed

[2021-05-10 13:50] doruskova commented on #364
Everything from this [doc](https://docs.google.com/document/d/19U27YgmMpI_kuCCP1eyZaxU4qiFgXgP5eJbkdlaej7U/edit?usp=sharing) has been updated!
@abigaeljamie

[2021-05-11 08:20] jhiadlov commented on #368
[toggle group.zip](https://github.com/patternfly/patternfly-design-kit/files/6457579/toggle.group.zip)
fixed

[2021-05-11 08:52] jhiadlov commented on #381
[finish button in wizard.zip](https://github.com/patternfly/patternfly-design-kit/files/6457813/finish.button.in.wizard.zip)
Done, I hope it's alright 😅

[2021-05-11 11:00] #366 closed

[2021-05-11 11:14] doruskova commented on #381
@jhiadlov Amazing! Thank you. Merged!

[2021-05-11 11:14] #381 closed

[2021-05-11 13:56] doruskova commented on #368
@jhiadlov Merged! You can continue :) Great job!

[2021-05-16 08:16] jhiadlov commented on #368
[Toggle group.zip](https://github.com/patternfly/patternfly-design-kit/files/6488871/Toggle.group.zip)
I did the Toggle group for grey bg. For default options I kept dividers. Could you please check it out, and tell me what should I change or fix? Thank youuuu

[2021-05-16 08:34] jhiadlov commented on #382
[Search input.zip](https://github.com/patternfly/patternfly-design-kit/files/6488890/Search.input.zip)
Done. I added it into the Search input spec plus I made a new artboard with search input with explicit submit button. I deleted the blue Action button because I assumed it is not necessary anymore. But I can add it back if you say so 😄

[2021-05-17 07:02] doruskova commented on #382
@jhiadlov Looks great! However, could you use symbols in the artboard? I'll show you what I mean in our 1:1 :)

[2021-05-17 07:22] doruskova commented on #368
@jhiadlov I noticed just one detail, but I'll describe it on our call :)

[2021-05-17 07:35] doruskova opened #384 "Add examples for Form groups"
Add 2 examples to a template file to support and highlight more Form groups. The sketch file of the first example is here:
[OS-nested-formss-mocks.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6492011/OS-nested-formss-mocks.sketch.zip)

https://github.com/patternfly/patternfly-design/issues/1010#issuecomment-840863412
![117807720-463bed80-b25c-11eb-95bc-cf87c062f55a](https:

[2021-05-17 09:39] jhiadlov commented on #368
[toggle group.zip](https://github.com/patternfly/patternfly-design-kit/files/6492871/toggle.group.zip)
fixed borders

[2021-05-17 09:39] jhiadlov commented on #382
[search.zip](https://github.com/patternfly/patternfly-design-kit/files/6492873/search.zip)
changed to symbol

[2021-05-17 11:37] doruskova commented on #368
@jhiadlov Merged!

[2021-05-17 11:37] #368 closed

[2021-05-17 11:49] doruskova commented on #382
@jhiadlov Can you fix the icon inside of the icon field? There should be an arrow.
![Snímek obrazovky 2021-05-17 v 13 48 50](https://user-images.githubusercontent.com/32618096/118483750-b17f3700-b716-11eb-9056-b95d2800a97a.png)

[2021-05-17 15:06] doruskova opened #385 "Copy to clipboard"
Add new symbols called "Copy to clipboard" to a symbol library.
Mocks here https://marvelapp.com/prototype/g39724e/screen/77261405
PR preview https://patternfly-pr-3933.surge.sh/components/clipboard-copy/#inline

1. Add basic version (editable and read-only)
2. Add expandable version (editable and read-only)
3. Add inline version (basic, code, and another action)

Try to use a small number of symb

[2021-05-17 15:08] doruskova opened #386 "Alert popover"
Add new variations of the popover to a symbol library and show this component in a template file.

**Symbol library - add them to the Popover page**
- [ ] Create danger popover
- [x] Create warning popover
- [x] Create success popover
- [ ] Create info popover

**Template file**
- [ ] Follow the example below. The table doesn't have to be exactly the same. Just show the label in a table that refle

[2021-05-17 15:15] doruskova opened #387 "Catalog view panel (closed)"
- Add a new custom icon to a Sketch library (all sizes)
- Add a new artboard to a template file that represents the interaction where the panel is hidden and open.

[2021-05-17 18:13] ajacobs21e commented on #380
[Password strength.zip](https://github.com/patternfly/patternfly-design-kit/files/6495970/Password.strength.zip)
@doruskova can you check this and make sure it makes sense? I had to play with the line height of the strength name text ("weak" etc) to get it to bottom align with the field label ("Password").

Do we want this in a template of a full page account creation type form? The context is for

[2021-05-17 18:14] katierik commented on #388
Thank you!

[2021-05-18 06:54] jhiadlov commented on #382
[search.zip](https://github.com/patternfly/patternfly-design-kit/files/6499023/search.zip)

[2021-05-18 07:55] doruskova commented on #388
@maryshak1996 Would you mind taking this issue?

[2021-05-18 08:15] doruskova commented on #382
@jhiadlov Merged!

[2021-05-18 08:15] #382 closed

[2021-05-18 12:13] doruskova commented on #386
[PatternFly- Alert popover variation.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6501132/PatternFly-.Alert.popover.variation.sketch.zip)

Sketch from Laura

[2021-05-18 12:14] doruskova commented on #384
Laura's sketch file [PatternFly- Field groups advanced options.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6501138/PatternFly-.Field.groups.advanced.options.sketch.zip)

[2021-05-18 14:19] maryshak1996 commented on #388
sure @doruskova :)

[2021-05-18 15:32] doruskova commented on #386
Symbols merged!

[2021-05-18 16:10] doruskova commented on #386
Template merged!

[2021-05-18 16:10] #386 closed

[2021-05-19 13:13] ajacobs21e opened #389 "Jump links don't match implementation"
- Change section label to sentence case
- add border to subsections
- add mobile label
- add mobile option to template

@mmenestr

[2021-05-19 14:04] ajacobs21e commented on #389
[jumplinks.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6509296/jumplinks.sketch.zip)
@doruskova is it easier for you if I just update the sketch library myself? once the library is updated I'll do the template updates.

[2021-05-19 16:42] maryshak1996 commented on #388
updated the labels + label groups @doruskova
[PatternFly-labels-update.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6510416/PatternFly-labels-update.sketch.zip)

[2021-05-21 08:53] doruskova commented on #389
@ajacobs21e Yes, go ahead. Thank you!

[2021-05-21 13:28] doruskova commented on #388
@maryshak1996 @katierik Merged! Library component updates should be available.

[2021-05-21 13:28] #388 closed

[2021-05-21 13:33] katierik commented on #388
Thank you!

[2021-05-21 13:57] doruskova opened #390 "Update labels in a template file"
Labels in a symbol library have been updated > template needs an update too.

[2021-05-24 07:57] doruskova commented on #389
@ajacobs21e I have a question :D Do you think that it's necessary to have First, Middle and last items? I think that the only difference is in padding and the padding can be explained in a template file (that's why we do spec). It'd make the structure in a symbol library more clear. WDYT?

[2021-05-24 08:30] doruskova commented on #384
The first template has been added. The second needs to be recreated to symbols.

[2021-05-24 12:59] ajacobs21e commented on #389
@doruskova what about like this?
[jumplinks 2.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6532475/jumplinks.2.sketch.zip)
The difference is the padding + the leading or trailing line so I made a separate component that can be put before/after the jump links.

[2021-05-24 13:13] doruskova commented on #384
Merged!

[2021-05-24 13:13] #384 closed

[2021-05-24 13:21] doruskova commented on #389
@ajacobs21e Merged!

[2021-05-24 13:23] doruskova commented on #378
Structure has changed #389

[2021-05-24 13:53] doruskova commented on #387
Icons merged!

[2021-05-24 14:10] doruskova commented on #387
Merged!

[2021-05-24 14:10] #387 closed

[2021-05-26 08:05] doruskova opened #391 "Add compact compound expandable table"

[2021-05-26 08:07] doruskova opened #392 "Disabled menu items for flyout"
https://github.com/patternfly/patternfly/issues/4101

[2021-05-26 13:03] doruskova commented on #380
@ajacobs21e It makes sense to me :) I merged them and yes I guess we need a template for login page with this component. Can you share your use-case?

[2021-05-27 11:43] jhiadlov commented on #365
[sub menu.zip](https://github.com/patternfly/patternfly-design-kit/files/6553636/sub.menu.zip)
Hi, on the Masthead page I made new symbols and added Pre-release labels. Then on the Mobile page, I added a new background symbol which is described in the Marvel file under the Subnav spec (mobile), but I wasn't sure about including the 16px space between levels. Please let me know if there is somethin

[2021-05-27 20:56] ajacobs21e commented on #369
![image](https://user-images.githubusercontent.com/6415742/119896040-7944d900-bf0c-11eb-86ed-89b864754f97.png)
I used the outline versions and should have used solid

[2021-05-27 21:02] ajacobs21e commented on #369
[PatternFly_eyecons_solid.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6556808/PatternFly_eyecons_solid.sketch.zip)

@doruskova oopsie

[2021-05-31 07:46] doruskova opened #393 "Option text and description switch places"
Issue from slack: I found this weird bug in the design kit where the option text and description switch places when you switch the symbol between disabled and default. I have no idea why it’s doing that or if it’s just me!

![image (9)](https://user-images.githubusercontent.com/32618096/120189940-3c345b80-c218-11eb-9a56-92502492919c.png)
![image (10)](https://user-images.githubusercontent.com/3261

[2021-05-31 07:47] doruskova opened #394 "Group popovers and tooltips"

[2021-05-31 11:44] doruskova commented on #369
@ajacobs21e Thank youuu! I didn't even noticed that :D Merged!

[2021-05-31 11:44] #369 closed

[2021-05-31 11:58] #393 closed

[2021-05-31 12:20] doruskova commented on #391
Merged!

[2021-05-31 12:20] #391 closed

[2021-05-31 12:33] doruskova commented on #392
We already support disable menu items in a library :)

[2021-05-31 12:49] doruskova commented on #392
Merged disabled menu item with a disabled arrow and menu item with description + arrow (disabled)

[2021-05-31 12:49] #392 closed

[2021-05-31 13:25] doruskova commented on #394
Tooltips and popovers are in one page in a template file

[2021-05-31 13:25] #394 closed

[2021-05-31 13:32] doruskova commented on #389
@ajacobs21e I updated a template file with new symbols. Let me know if it's not correct :) My understanding is that before and after is a 16px long line.

[2021-06-01 13:16] doruskova commented on #365
@jhiadlov I guess that the only thing that is missing is the horizontal divider for the submenu items and for mobile version there should be dividers as well (left and top)

[2021-06-01 16:07] ajacobs21e commented on #389
[PatternFly template.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/6576695/PatternFly.template.sketch.zip)
I added in mobile and subsections. I also updated the existing templates to use separate leading and trailing lines. The symbol has a set size - should we lock it? If you use one symbol that spans the whole width / length of the jump links symbols, then it's annoying t

[2021-06-02 10:02] jhiadlov commented on #365
[fixed subnav items.zip](https://github.com/patternfly/patternfly-design-kit/files/6583609/fixed.subnav.items.zip)
I just fixed some issues, could you please update it? :)

[2021-06-02 11:25] doruskova commented on #389
@ajacobs21e Merged! Does it mean that the trailing/leading line should keep the height size (18px)? If so, we should lock it. I don't know if I'm getting the second part. :D

[2021-06-07 09:56] jhiadlov commented on #385
[copy clipboard.zip](https://github.com/patternfly/patternfly-design-kit/files/6607848/copy.clipboard.zip)
Hi, I made a new page called Clipboard copy where I put the new symbols, I hope they are alright.

[2021-06-07 12:08] doruskova commented on #385
@jhiadlov Merged! Could you create a template for it? You can ignore the left part and just put empty cards there. The most important is the drawer with this component

[2021-06-07 12:22] jhiadlov commented on #365
[sub nav tertiary.zip](https://github.com/patternfly/patternfly-design-kit/files/6608737/sub.nav.tertiary.zip)
I add a new symbol to the Mobile page, it is called sub nav tertiary.

[2021-06-09 07:25] doruskova commented on #365
Merged! You can continue with a template for both.

[2021-06-14 13:29] jhiadlov commented on #365
I finally made it. :D
[subnav template.zip](https://github.com/patternfly/patternfly-design-kit/files/6648581/subnav.template.zip)

[2021-06-15 08:17] doruskova opened #398 "Two identical code snippets in a library"

[2021-06-15 11:15] doruskova opened #399 "Add code block"
#385 Need to add code block to a symbol library and template file

[2021-06-15 11:36] doruskova opened #400 "Reconnect old symbols with a new library"

[2021-06-15 13:59] jhiadlov commented on #399
[code block.zip](https://github.com/patternfly/patternfly-design-kit/files/6656154/code.block.zip)
I made new symbols -> code block / basic and code block / expandable

[2021-06-16 07:22] doruskova commented on #400
Sketch done it for us

[2021-06-16 07:22] #400 closed

[2021-06-16 08:24] doruskova commented on #399
@jhiadlov Awesommee! Merged!

[2021-06-16 08:24] #399 closed

[2021-06-16 08:25] doruskova commented on #398
Kept the up to date version that reflects the implementation.

[2021-06-16 08:25] #398 closed

[2021-06-16 08:25] doruskova commented on #380
@ajacobs21e Any update here?

[2021-06-16 11:01] doruskova commented on #365
@jhiadlov Merged!

[2021-06-16 11:01] #365 closed

[2021-06-16 12:34] ajacobs21e commented on #380
@doruskova sorry totally forgot about this! I added two templates of this in context. Also trying this to share a sketch file rather than a zip file, maybe this is easier?
https://www.sketch.com/s/8b60350f-fbc0-48b7-9622-86d063ec4d1d

[2021-06-17 11:15] jhiadlov commented on #385
[copy to clipboard.zip](https://github.com/patternfly/patternfly-design-kit/files/6669691/copy.to.clipboard.zip)
Finally? 😅

[2021-06-17 12:39] mmenestr opened #401 "Toggle group symbol bugs"
- Double check a lot of the toggle group icons. Don't have the ability to edit icons in some of them.
(not enough editing capabilities)
![image](https://user-images.githubusercontent.com/51165119/122397548-11037900-cf47-11eb-9cef-db37ce369d34.png)

VS
(correct)
![image](https://user-images.githubusercontent.com/51165119/122397839-53c55100-cf47-11eb-8fb4-9f1c87f7e3a4.png)

- 2 Hover symbols for thi

[2021-06-17 18:53] #401 closed

[2021-06-18 12:31] doruskova commented on #385
@jhiadlov Yes! Merged! Just please be sure that your symbols don't come from the _outdated library. If so, use Camilo plugin to transfer them to PatternFly library or use the most up to date template file.

[2021-06-18 12:31] #385 closed

[2021-06-23 12:27] #358 closed

[2021-06-24 13:46] ajacobs21e commented on #389
@doruskova I locked the components so this should be all good!

[2021-06-24 13:46] #389 closed

[2021-06-28 15:06] doruskova opened #402 "Add filter tree menu"
Add filter tree menu to a symbol library and a template file. Implementation of this component is available here https://www.patternfly.org/v4/demos/composable-menu/#filter-tree-menu
Mockups with a specification is here https://marvelapp.com/prototype/6hbd4bj/screen/76696403

It's an expandable tree in a dropdown with a badge
<img width="361" alt="Snímek obrazovky 2021-06-28 v 17 28 59" src="http

[2021-06-28 15:14] doruskova opened #403 "Tree view enhancements"
https://www.patternfly.org/v4/components/tree-view#guides

[2021-06-28 15:19] doruskova opened #404 "New task tracker icon"
[task.svg.zip](https://github.com/patternfly/patternfly-design-kit/files/6747652/task.svg.zip)

#405

[2021-06-28 15:21] doruskova opened #405 "Task drawer"

[2021-06-28 15:34] doruskova commented on #402
@mmenestr Just wanted to ask you if you want to add it to a library and template file when you were working on it? I'll definitely understand if you don't have time. But, it's not urgent :)

[2021-06-29 07:16] jhiadlov commented on #390
[application launcher_labels.zip](https://github.com/patternfly/patternfly-design-kit/files/6731392/application.launcher_labels.zip)
Hi, I updated the labels on Application launcher's page, could you check it, please? Thanksss

[2021-06-29 18:23] mmenestr commented on #402
Sure I can take this on! I think it just needs to be added to the template though no? Couldn't people just use the tree view symbols that already exist?

[2021-06-30 08:18] doruskova commented on #402
@mmenestr yeah, if you used only existing symbols then create just a template for it.

[2021-06-30 08:24] doruskova opened #406 "Fix labels - resize issue"
When switching between different labels > they don't resize correcly

[2021-06-30 14:21] doruskova commented on #406
Done! The layers were grouped together and a Smart layout applied to this group. Not on the symbol itself.

[2021-06-30 14:21] doruskova commented on #406
@jhiadlov FYI

[2021-06-30 14:21] #406 closed

[2021-07-01 13:15] doruskova commented on #404
Merged!

[2021-07-01 13:15] #404 closed

[2021-07-15 08:19] jhiadlov commented on #383
[card with logo.zip](https://github.com/patternfly/patternfly-design-kit/files/6821457/card.with.logo.zip)

[2021-07-16 11:48] doruskova commented on #383
@jhiadlov Merged! I've edited the settings a little bit. We can discuss it next week :) You can update the template file :)

[2021-07-16 13:21] ajacobs21e opened #409 "Minimize symbol structure: Navigation"

[2021-07-16 15:43] ajacobs21e commented on #409
@doruskova I merged this change into the library, do you want to check it out before I mark this closed?

[2021-07-19 11:55] doruskova commented on #409
@ajacobs21e Thank you! Sorry for my delayed answer. :D I'll clear up the naming in a library a little bit. But, it makes logical sense.

[2021-07-19 12:35] doruskova commented on #409
@ajacobs21e I minimized it more and removed some symbols where the only difference was the padding.

[2021-07-19 12:36] doruskova opened #410 "Update tertiary nav with new symbols"

[2021-07-19 12:45] doruskova commented on #410
Fixed

[2021-07-19 12:45] #410 closed

[2021-07-20 07:14] jhiadlov commented on #383
[cards.zip](https://github.com/patternfly/patternfly-design-kit/files/6846210/cards.zip)

So I changed the old cards with the new cards symbols in the template file.

[2021-07-20 13:04] doruskova commented on #383
@jhiadlov merged!

[2021-07-20 13:04] #383 closed

[2021-07-20 13:12] #380 closed

[2021-07-22 03:39] ajacobs21e commented on #409
@doruskova did you also remove the expanded version of the expandable nav? The collapsed version I can override the arrow to point down instead of right but there's no override for the bottom border. Personally I think it's easier to have a separate symbol for these two states than have to change two overrides. What do you think? I can add these in if you agree.

[2021-07-22 07:40] doruskova commented on #409
@ajacobs21e ooohh I didn't realize that there is a bottom border. My fault. I put it back so it should be ok now :D

[2021-07-22 07:40] #409 closed

[2021-08-03 17:01] ajacobs21e opened #411 "Minimize symbol structure: card"

[2021-08-03 17:03] ajacobs21e opened #412 "plain alert"
https://github.com/patternfly/patternfly/issues/4220

@doruskova do you have the original Marvel designs for this? https://marvelapp.com/prototype/852jaj9/screen/75866265

[2021-08-03 17:07] ajacobs21e commented on #411
Collapsed the background components to one level so you can go from Default to the other states easily

[2021-08-03 17:07] #411 closed

[2021-08-03 17:12] ajacobs21e opened #413 "Buttons - change layout from "center" to "left to right""
Button symbols are created to resize from the center out which doesn't make sense to me. As long as the text is centered, buttons can be stretched to be block level. But I believe the far more common use case is for buttons to be left aligned to something.
@doruskova can I change all of the button symbols to resize from left to right? is there some reason they are center-out?

[2021-08-03 17:21] doruskova commented on #413
@ajacobs21e Sure! I changed labels like that.

[2021-08-03 18:47] ajacobs21e commented on #413
cool thanks - done!

[2021-08-03 18:47] #413 closed

[2021-08-04 08:01] doruskova commented on #412
@ajacobs21e Hey! Sending a sketch file for it. It's a little bit different and eventually, we didn't need it because we didn't have a mechanism for how to recognize that an issue has been resolved.
[simple_alert.zip](https://github.com/patternfly/patternfly-design-kit/files/6929557/simple_alert.zip)

[2021-08-04 08:10] doruskova opened #414 "Drill down menu items"
Add drill-down menu items with breadcrumbs navigation.

1. Add breadcrumbs header and include all states from breadcrumbs. Reason: existing breadcrumbs have a different size
2. Add a badge with a number and dropdown
3. Add menu item with icon

[2021-08-04 11:15] doruskova opened #415 "Design kit audit"
Is everything working properly in our library? We need to do an audit of our library and create issues if anything is wrong.

[2021-08-04 17:55] ajacobs21e opened #416 "danger secondary and danger link button styles"
https://www.patternfly.org/v4/components/button

@doruskova is there a reason these aren't in the library other than we forgot them? If not I will add them!

[2021-08-04 18:01] ajacobs21e commented on #412
[simple_alert.zip](https://github.com/patternfly/patternfly-design-kit/files/6933459/simple_alert.zip)
here are the symbols. should we wait for these to be merged into the main branch first?

note to also check on the custom alert symbols - it looks like not all of them had title text style override checked so that text can't be customized.

[2021-08-05 08:03] doruskova commented on #416
I don't think there is a reason :D I think we just forgot to add them. Go ahead and add them! Thanks for being soo active! Anyway, I have to do an audit of a library if everything works correctly or if anything is missing (like this example).

[2021-08-05 08:08] doruskova commented on #412
@ajacobs21e Yeah! I'd wait for it. Also, I'm assuming that we'll need plain warning, danger etc, right?
Oohh, ok. I'll check the custom alerts.

[2021-08-09 12:18] doruskova commented on #416
Both buttons have been added to a library. Just need to reorganize the order numbers here.

[2021-08-09 12:19] doruskova opened #417 "Reorganize order numbers in Buttons page"

[2021-08-09 12:28] doruskova opened #418 "Update code editor components!"

[2021-08-09 12:58] #416 closed

[2021-08-09 15:19] doruskova opened #419 "Back to top button"
Create a new button component called "back to top" to a symbol library. Full issue description is available [here](https://github.com/patternfly/patternfly-design/issues/970)

Please, follow instruction below:

![127220429-de657fe2-a122-4a9e-9667-e6419a425ac4](https://user-images.githubusercontent.com/32618096/128870912-cbc6a83e-248c-4159-a713-11d469fecb51.png)

Real example. It's going to be used

[2021-08-09 15:22] doruskova opened #420 "Add new variations to vertical navigation"

[2021-08-09 15:25] doruskova opened #421 "Add disabled tabs"
@jhiadlov Add disabled tabs to a symbol library. Each group of tabs should have a disabled state. That means that the user can't click on it and use the functionality. It can be enabled when the user triggers some action in advance. But, the main point is that disabled state uses darker gray color. The mock with the spec is available here:

![127548848-41e2b45a-7847-47e3-8ab4-f969fec7d815](https:/

[2021-08-11 01:54] ajacobs21e commented on #415
grouped nav selected items - turn off overrides for highlight, background, and font

[2021-08-11 07:18] doruskova opened #422 "Fix the grouped nav override settings"
grouped nav selected items - turn off overrides for highlight, background, and font

[2021-08-11 07:18] doruskova commented on #422
Fixed!

[2021-08-11 07:18] #422 closed

[2021-08-11 07:19] doruskova commented on #415
@ajacobs21e Fixed! Good catch!

[2021-08-11 07:23] doruskova opened #423 "Accordion override settings"
Fix the override settings in the Accordion component.
Removed overrides for bg, text style, and symbols.

[2021-08-11 07:23] doruskova commented on #423
Fixed!

[2021-08-11 07:23] #423 closed

[2021-08-11 14:08] ajacobs21e commented on #415
@doruskova thanks! would you prefer I open stories for little things like this or dump them here?

[2021-08-11 14:09] ajacobs21e commented on #415
I also can do the fixes too but was going to save up a few small things so there isn't a library update every day

[2021-08-11 14:21] doruskova opened #424 "Tracking small issues in Sketch library"
@ajacobs21e (you can add them to a description)

[2021-08-11 14:23] ajacobs21e commented on #415
@doruskova sounds good thank you! I'll knock out what I can while you're gone. Enjoy your vacation!

[2021-08-11 16:26] ajacobs21e commented on #424
form with icon - overrides

[2021-08-12 14:42] doruskova commented on #417
Fixed!

[2021-08-12 14:42] #417 closed

[2021-08-16 17:57] jhiadlov commented on #419
[back to top button.zip](https://github.com/patternfly/patternfly-design-kit/files/6994408/back.to.top.button.zip)
I made 4 "Back to top" buttons: default, hover, focus, and disabled. I hope it is alright. :)

[2021-08-16 18:00] jhiadlov commented on #390
[labels.zip](https://github.com/patternfly/patternfly-design-kit/files/6994419/labels.zip)
I updated all labels in the Template file. Labels were on these pages: Application launcher, Cards*, Catalog view, Dashboard*, Form, Labels, Menus, Popovers and tooltips, Table, Tabs.

*detached labels

[2021-08-22 07:08] jhiadlov commented on #414
[drill down menu items.zip](https://github.com/patternfly/patternfly-design-kit/files/7026705/drill.down.menu.items.zip)
On page "Drill down menu", I added Drill down menu / 2. Menu items / 2. Drill down / 3. Default with description / 2. Hover, and made Menu item with an icon with default and hover state. Then I did a breadcrumbs header with all states on page "Breadcrumbs". The last thing I made

[2021-08-23 09:29] doruskova commented on #419
@jhiadlov Hey, it looks great in overall. Just a little nitpicks:

- name the sketch file with the same name as the compressed file (I have many Patternfly.sketch)
- the top arrow on the left side needs to be pinned to the top.
- Make always sure that the overrides make sense. In this case, it should be possible to change only the text.

It's merged! YAY!

[2021-08-23 09:29] #419 closed

[2021-08-23 09:53] doruskova commented on #414
@jhiadlov Good! I've merged the items with icons and hover description item.
I've allowed to change text size for breadcrumbs components. I'd like to add the example to a template file with it instead of duplicating symbols. They should have 16px which is a standard font-size and we have a text style for it. Another thing is that I replaced the badge from Badge page to Dropdowns because badge is n

[2021-08-23 09:56] doruskova commented on #424
- [x] Allowed to change text style for breadcrumbs (it's because of drill down menu that uses 16px breadcrumbs and don't want to duplicate symbols)
- [x] Fixed background style for drill down menu (hover). It was using disabled layer even if it's not disabled state.

[2021-08-24 14:14] doruskova commented on #418
No issue found. Sorry for the mistake! @jhiadlov

[2021-08-24 14:14] #418 closed

[2021-08-24 15:22] doruskova opened #425 "Fixed wrong height in labels"

[2021-08-25 08:01] #425 closed

[2021-08-25 14:03] doruskova commented on #390
@jhiadlov Unfortunately, my fix broke your template...
I'll try to figure out how to make it less painful because i guess that we don't need a huge spec about labels.

[2021-08-30 07:38] doruskova commented on #424
@ajacobs21e Yes, definitely! It's confusing now. But, there are two greys. So, I would like to know (use a plugin) how many components are using which layer.

[2021-08-30 07:41] doruskova commented on #424
- [ ] Remove additional layer for dynamic color (it also needs more investigation because I don't know what's gonna happen)

- [ ] Change icons to one color (probably to black).

@ajacobs21e do you agree?

[2021-08-30 07:44] doruskova opened #426 "Add expandable toast and inline alert"
https://www.patternfly.org/v4/components/alert/html#expandable

[2021-08-30 15:07] doruskova opened #427 "Add Progress stepper"
We have a new component called Progress stepper. We have an HTML version available at this moment.
https://www.patternfly.org/v4/components/progress-stepper

Mocks available [here](https://marvelapp.com/prototype/gfa4i5b/screen/80215316)

We need to add **basic, with description, centered, vertical with description, compact**,  (see the link above)

Note: We need to add a new text style for the ce

[2021-08-30 15:11] doruskova opened #428 "Add enhancements to a dual list - drag & drop"
Add this drag&drop enhancement for a dual list to a template file.
![68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3563653831363532346536633539346463316230646634642f35663839323762342d626163302d343761342d383433612d396331653665313961303438](https://user-images.githubusercontent.com/32618096/132007307-58a4af96-7927-4356-afb0-a6f731ac2a33.png)

[2021-08-31 09:15] jhiadlov commented on #414
[drill down menu:back header:with icon.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7082681/drill.down.menu.back.header.with.icon.sketch.zip)
Hello, I added the symbol Drill down menu / 3. Back header / Default with icon and Drill down menu / 3. Back header / Hover with icon.

[2021-09-01 08:31] jhiadlov commented on #414
[menu with breadcrumbs.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7089531/menu.with.breadcrumbs.sketch.zip)
Here is a Template file with added Menu with breadcrumbs. I was just wondering if I should add to the template the "Set max menu height" and also "Start rollout" button (see pics under). What do you think?
<img width="385" alt="Screenshot 2021-09-01 at 10 30 00" sr

[2021-09-02 06:39] doruskova commented on #414
@jhiadlov I'd add "Start rollout" because it's a part of the component. But, "Set max menu height" not because it's part of the PF website.

[2021-09-02 08:06] doruskova commented on #414
@jhiadlov Symbols merged!

[2021-09-02 10:41] doruskova opened #429 "Replace colors with color variables in styles"
We didn't use color variables for our defined styles in Sketch.

[2021-09-02 10:41] #429 closed

[2021-09-02 12:10] doruskova commented on #412
@ajacobs21e Symbols merged!

[2021-09-02 16:49] mmenestr commented on #402
I'm so sorry I completely forgot about this, will try to get it done by end of this week!!

[2021-09-03 08:30] doruskova opened #430 "Fix masthead icon buttons"

[2021-09-03 08:38] doruskova opened #431 "Fix tertiary nav in a template"

[2021-09-03 09:18] doruskova commented on #431
- [x] Fixed in application launcher

[2021-09-03 09:19] doruskova commented on #430
- [x] Fixed in application launcher

[2021-09-03 09:19] doruskova commented on #412
Example merged!

[2021-09-03 09:19] #412 closed

[2021-09-03 09:20] doruskova commented on #390
- [x] Application launcher fixed

[2021-09-03 09:46] doruskova commented on #414
@jhiadlov Here's my review of breadcrumbs drill-down menu:

- Group A - G shouldn't be only text. They are all menu items from "Dropdown" page.
- The last item in a breadcrumb, "Application Grouping" is not a text as well. It's a leaf item symbol from breadcrumbs.
- It's not just a menu, but drilldown menu because you can get more levels deep.

[2021-09-03 15:01] mmenestr commented on #402
Added this to the "Select" page!

![image](https://user-images.githubusercontent.com/51165119/132026642-2021a50d-9ce2-44c0-a1ba-940bbe3e66a3.png)

[2021-09-06 08:23] doruskova commented on #402
@mmenestr Thank youu!

[2021-09-06 08:23] #402 closed

[2021-09-06 12:52] doruskova commented on #431
- [x] Fixed Hint

[2021-09-06 12:52] doruskova commented on #390
- [x] Fixed Labels page

[2021-09-06 13:25] doruskova commented on #390
- [ ] Need to fix: table page,

[2021-09-06 13:26] doruskova commented on #424
- [x] Fixed wrong bg to white above the table (tables page) > the layer was overridden with a different color.

[2021-09-06 14:00] doruskova opened #432 "Add disabled grey switch with icon"

[2021-09-06 14:00] doruskova commented on #432
Added!

[2021-09-06 14:00] #432 closed

[2021-09-06 14:00] #309 closed

[2021-09-06 15:04] jhiadlov commented on #414
[drilldown menu fixed.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7116676/drilldown.menu.fixed.sketch.zip)
fixed, at least I hope so..

[2021-09-07 18:06] ajacobs21e commented on #415
[audit.csv](https://github.com/patternfly/patternfly-design-kit/files/7123459/audit.csv)

I saw this plugin to do an audit of a library so I tried it. Maybe it's helpful but it's at least cool to see how much stuff we've made!
https://docs.google.com/spreadsheets/d/1ZnW1DEHG7rK98HRZAvYIyOQ58OcOtk28DrvWoL2bG34/edit?usp=sharing this has it separated into 3 tabs for symbols, layer styles, and text st

[2021-09-08 08:20] jhiadlov commented on #414
[drilldown menu fixed.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7127193/drilldown.menu.fixed.sketch.zip)
final

[2021-09-08 09:03] doruskova commented on #415
@ajacobs21e This is awesome! I didn't know that we've made so many things :D

[2021-09-08 09:11] #414 closed

[2021-09-08 09:11] doruskova commented on #414
Merged!

[2021-09-12 12:59] jhiadlov commented on #421
[disabled tabs.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7149587/disabled.tabs.sketch.zip)
I removed the shadows from the backgrounds and used rectangles instead.

[2021-09-12 13:51] jhiadlov commented on #426
[expandable toast and inline alert.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7149666/expandable.toast.and.inline.alert.sketch.zip)
So I made "Alerts / Toast / 2. Success / 5. Expandable / 1. Closed & 2. Expandable" and  "Alerts / Inline / 2. Success / 9. Expandable / 1. Closed & 2. Expandable"

[2021-09-12 14:26] jhiadlov commented on #390
[table page_fixed labels.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7149713/table.page_fixed.labels.sketch.zip)
I fixed labels on the table page.

[2021-09-13 10:12] doruskova commented on #426
@jhiadlov There is only the success alert, other types are mising (warning, info, danger etc.)

[2021-09-13 12:36] jhiadlov commented on #421
Merged! 🎉

[2021-09-13 12:47] #421 closed

[2021-09-13 13:14] jhiadlov commented on #390
Merged!

[2021-09-13 13:27] jhiadlov commented on #431
- [ ] Form
- [ ] Jump links

[2021-09-14 08:19] doruskova opened #433 "Fix toggle button groups layers"
When the layer is overriding default layer > default layer appears and breaks everything.
Always use just layers that already exists! Don't override them!
<img width="811" alt="Screen Shot 2021-09-13 at 2 04 06 PM" src="https://user-images.githubusercontent.com/32618096/133221845-8657eb79-bd07-4831-9fba-296657a69e5d.png">

[2021-09-14 08:19] doruskova commented on #433
Fixed!

[2021-09-14 08:19] #433 closed

[2021-09-14 08:21] doruskova opened #434 "Fix overrided layers!"
If the layer overrides a default layer > it should be a new style! Don't override layers that already exist! It makes a messy place from Sketch.

[2021-09-14 08:22] doruskova commented on #428
@jhiadlov Dual list already exists in a template file and library. Please, add a drag & drop example to a template file. Before you merge it > let me review it.

[2021-09-14 08:25] doruskova opened #435 "Add compact version of toggle groups"
Here's the implementation https://www.patternfly.org/v4/components/toggle-group/html#compact

- Font 12px
- 24px height for each toggle item
-
- Add default, hover, selected, disabled state. Without icons!

[2021-09-14 11:33] doruskova commented on #424
- [x] Removed unused borders/fills from layers

[2021-09-15 10:37] doruskova commented on #430
Fixed everywhere!

[2021-09-15 10:37] #430 closed

[2021-09-15 10:40] doruskova commented on #390
@jhiadlov I don't think you merged it.

[2021-09-15 10:52] doruskova commented on #390
- [x] Cards page fixed
- [x] Menus page with labels fixed

[2021-09-15 10:52] #390 closed

[2021-09-15 11:13] doruskova commented on #426
@jhiadlov I guess you merged this. Not labels.

[2021-09-15 11:13] #426 closed

[2021-09-20 13:23] doruskova opened #438 "Add text link style for banner component"
Add text style for links in a banner. Default and hover style.
![114759051-af971200-9d2b-11eb-8216-0d1d275dc4b0](https://user-images.githubusercontent.com/32618096/134334465-a9795d16-710d-4b52-9039-9892485ba41d.png)

[2021-09-20 13:25] doruskova opened #439 "Group table columns with nested structure"

[2021-09-20 13:26] doruskova opened #440 "Change expandable control in toolbar"
Proposal 2 is correct!
![126458626-c024abee-1e68-4b2b-941d-c48c71192e82](https://user-images.githubusercontent.com/32618096/134333753-45085f86-aceb-42d6-9e27-670752f544e9.png)

[2021-09-20 13:28] doruskova opened #441 "New style for selected states (tiles and cards)"
New styling for cards (Default, hover, selected state)! Interaction is being described here:
https://github.com/patternfly/patternfly-design/issues/1042
![129913108-02658530-e93e-4a02-a2aa-6ea0eae3df76](https://user-images.githubusercontent.com/32618096/135247898-51d9b16e-a220-466f-9cda-495005183625.png)

Create a new style for hover and selected card and apply the new style on cards.
- State / Ac

[2021-09-22 08:21] jhiadlov commented on #421
[disabled tabs.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7208961/disabled.tabs.sketch.zip)
I added a disabled state for tabs with icons. I put a red rectangle under new symbols, so you can find them easily 😄

[2021-09-22 10:56] doruskova commented on #421
@jhiadlov Merged!

[2021-09-22 11:14] doruskova commented on #440
Merged!

[2021-09-22 11:14] #440 closed

[2021-09-22 11:39] doruskova opened #442 "Remove filled tabs"
These tabs have exactly the same styling as open or box tabs. The only difference is that filled tabs need to fill the container where the content lives. We can't predict the width of the container > you can use default tabs and spread them all over the width, eg drawer.

[2021-09-22 11:39] #442 closed

[2021-09-22 12:30] doruskova commented on #428
@jhiadlov
<img width="839" alt="Snímek obrazovky 2021-09-22 v 14 29 26" src="https://user-images.githubusercontent.com/32618096/134343752-e7ce8159-a572-48d1-9fb5-78f8262ffd23.png">

[2021-09-22 13:23] jhiadlov commented on #428
[dual list drag and drop states.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7210990/dual.list.drag.and.drop.states.sketch.zip)
Could you please check it?

[2021-09-22 13:45] jhiadlov commented on #435
[toggle group compact.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7211195/toggle.group.compact.sketch.zip)

[2021-09-24 19:15] maryshak1996 opened #443 "Visual design team to review feedback survey"
Have visual design team review the training feedback survey found here: https://docs.google.com/forms/d/1pUa3RvOEvicS3sewA_GpV7eu3X221Y1Ru9nbxW51_Gk/edit

[2021-09-24 19:17] maryshak1996 opened #444 "Move all training videos into PF YouTube account"
Transfer all to of the videos embedded into the training from Mary's personal YoutTube to the PF account

[2021-09-29 08:41] doruskova opened #445 "Fix resizing for Forms/ClipboardCopy/Basic/Readonly"

[2021-09-29 09:18] doruskova commented on #445
Fixed

[2021-09-29 09:18] #445 closed

[2021-09-29 09:49] doruskova commented on #428
@jhiadlov Merged. But, I had to make bigger gap between icon and text.

[2021-09-29 10:00] doruskova commented on #435
@jhiadlov Merged! Just one nitpick here: don't override original layer style! Toggle group has own pre-defined styles that you can find in 1.Theme / Widgets / Toggle group.
<img width="275" alt="Snímek obrazovky 2021-09-29 v 11 55 59" src="https://user-images.githubusercontent.com/32618096/135247410-73bf15bc-0897-45a3-99eb-ec42ac14f6f5.png">
.

[2021-09-29 10:00] #435 closed

[2021-09-29 10:04] doruskova commented on #434
@jhiadlov FYI

[2021-09-29 13:50] doruskova opened #446 "Create Figma library - POC version"
[Docs link](https://docs.google.com/document/d/13ygQvWyljmowNUOaBTp7HNZA9KqIbzA6MG87NToLLAw/edit?usp=sharing)

Figma link https://www.figma.com/file/NzoWmhVQEROziYQDCx3QFQ/PatternFly?node-id=0%3A11123

[2021-09-30 15:07] #444 closed

[2021-10-01 13:38] doruskova opened #447 "Set up text styles"

[2021-10-01 13:38] doruskova opened #448 "Set up color variables"

[2021-10-01 13:38] doruskova opened #449 "Set up layer styles"

[2021-10-04 13:14] doruskova commented on #447
![Snímek obrazovky 2021-10-04 v 15 12 48](https://user-images.githubusercontent.com/32618096/135857671-4ddeb755-9df5-4008-bb1c-6a50352ba8b5.png)

[2021-10-04 13:14] #447 closed

[2021-10-04 13:15] doruskova commented on #449
Missing: charts colors
![Snímek obrazovky 2021-10-04 v 15 14 28](https://user-images.githubusercontent.com/32618096/135857758-131b89a1-30e9-459c-8a73-fa3459edbf61.png)

[2021-10-04 13:15] #449 closed

[2021-10-04 13:16] doruskova commented on #448
![Snímek obrazovky 2021-10-04 v 15 15 24](https://user-images.githubusercontent.com/32618096/135857897-c1aaa9da-4011-4413-aca0-28a4e344f0cd.png
![Snímek obrazovky 2021-10-04 v 15 15 44](https://user-images.githubusercontent.com/32618096/135857951-6af6dd42-d49a-47f0-8295-df73f475f30e.png)
)

[2021-10-04 13:16] #448 closed

[2021-10-04 13:35] doruskova commented on #428
@jhiadlov any updates here?

[2021-10-05 11:07] doruskova commented on #403
Merged guides components and the example to a template file

[2021-10-05 11:07] #403 closed

[2021-10-05 11:07] doruskova commented on #424
- [x] Fixed focus state

[2021-10-05 11:11] doruskova commented on #441
@jhiadlov This issue is on hold because it's still TBD. Just FYI

[2021-10-05 12:42] doruskova opened #450 "Breadcrumbs"

[2021-10-05 12:43] doruskova commented on #450
Breadcrumbs have been redesigned to fit Figma settings.

[2021-10-05 12:43] #450 closed

[2021-10-05 12:46] doruskova opened #451 "Banner"

[2021-10-05 12:47] doruskova commented on #451
Banner redesigned to fit Figma settings.

[2021-10-05 12:47] #451 closed

[2021-10-05 12:48] doruskova opened #452 "Badges"

[2021-10-05 12:49] doruskova commented on #452
Badges redesigned to fit Figma settings.

[2021-10-05 12:49] #452 closed

[2021-10-06 11:58] jhiadlov commented on #428
[single list drag and drop.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7293488/single.list.drag.and.drop.sketch.zip)

[2021-10-06 12:18] jhiadlov commented on #431
[fixed ter nav - forms and jump links.zip](https://github.com/patternfly/patternfly-design-kit/files/7293609/fixed.ter.nav.-.forms.and.jump.links.zip)
I fixed ter nav on Forms and Jump links pages

[2021-10-06 12:59] doruskova commented on #428
@jhiadlov Merged!

[2021-10-06 12:59] #428 closed

[2021-10-06 13:11] doruskova commented on #431
@jhiadlov Merged!

- [x] Alerts fixed
- [x] Code block fixed

[2021-10-06 13:11] #431 closed

[2021-10-08 10:53] doruskova opened #453 "Set up icons"

[2021-10-08 10:54] doruskova opened #454 "Splitter"

[2021-10-08 12:26] #453 closed, assigned to doruskova

[2021-10-11 14:44] doruskova opened #455 "Add compact labels"
Add compact version for labels to a library and a template file.

https://www.patternfly.org/v4/components/label/html#compact

The compact label has 8px from left and right and 4 pixels between text and icon.
If the icon will not be too small > let me know.

https://github.com/patternfly/patternfly-design/issues/1048

[2021-10-11 14:48] doruskova opened #456 "Update padding for tooltips and popovers"
https://marvelapp.com/prototype/ch6id28/screen/82011838

@sunilmalagi Would you mind taking this issue?

[2021-10-11 14:53] doruskova opened #457 "Add keyboard shortcuts in the PF code editor"
Add these shortcuts to a library and create an example in a context.
https://marvelapp.com/prototype/15bb10j4/screen/81521392

[2021-10-11 14:55] doruskova opened #458 "Add secondary actions dropdown"
https://marvelapp.com/prototype/8592c3a/screen/79048227

[2021-10-12 20:03] mcarrano opened #459 "Position of resize handle on Text Area symbol is not right"
I'm using the Text Area symbol for the first time and find that if I paste in text that takes multiple lines, the position of the resize handle is no longer correct. It looks like this:

![Screen Shot 2021-10-12 at 4 00 21 PM](https://user-images.githubusercontent.com/6619860/137021518-ca94cf00-454a-4475-9c6f-ab54e5218979.png)

Should always be anchored to the lower right corner.

[2021-10-13 11:15] doruskova commented on #456
@sunilmalagi You have to create a zip file including the sketch file.

[2021-10-13 11:21] jhiadlov commented on #427
[progress stepper.zip](https://github.com/patternfly/patternfly-design-kit/files/7337618/progress.stepper.zip)
I made everything, except horizontal centered (I made just one), because it isn't working as it should be, I don't know where am I making mistake. Could you please check it and maybe explain it to me? Text style is already added.

[2021-10-13 11:30] sunilmalagi commented on #456
@doruskova Done, Thank you ... I am doing this for the 1st time and wasn't aware of about it...

[2021-10-13 12:21] doruskova commented on #456
@sunilmalagi Ohh no worries! You made it! If you want to contribute more, just let me know and I can explain everything to you :)

[2021-10-14 13:17] jhiadlov commented on #427
[progress stepper.zip](https://github.com/patternfly/patternfly-design-kit/files/7346270/progress.stepper.zip)
added error style

[2021-10-18 12:10] #438 closed

[2021-10-18 12:55] #427 closed

[2021-10-20 14:12] doruskova opened #460 "Drill down menu"

[2021-10-20 14:13] doruskova commented on #460
Added

[2021-10-20 14:13] #460 closed, assigned to nobody

[2021-10-20 14:38] doruskova opened #461 "Chips and chip groups"
Added chips and chip groups

[2021-10-20 14:38] #461 closed, assigned to nobody

[2021-10-20 14:39] #454 closed, assigned to nobody

[2021-10-20 14:42] doruskova opened #462 "Spacers"

[2021-10-20 14:42] doruskova opened #463 "Wizard"

[2021-10-20 14:42] doruskova opened #464 "Tooltips and popovers"

[2021-10-20 14:43] doruskova opened #465 "Toolbar"

[2021-10-21 08:58] #458 closed

[2021-10-21 09:30] doruskova opened #466 "Cards"

[2021-10-21 09:31] doruskova commented on #466
Added cards to figma

[2021-10-21 09:31] #466 closed

[2021-10-21 09:45] doruskova opened #467 "Simple list"

[2021-10-21 14:05] doruskova commented on #467
Added simple list

[2021-10-21 14:05] #467 closed

[2021-10-21 16:40] sunilmalagi commented on #456
@doruskova Here is the updated sketch file with RedHat font, as per yesterdays review feedback, we are going to go with the existing Popover padding arrangement which is 16px padding and 8px padding for the tooltip. Thanks lot for your support.
[PF#1081_Tooltip_Popover_RedHat_font.zip](https://github.com/patternfly/patternfly-design-kit/files/7391477/PF.1081_Tooltip_Popover_RedHat_font.zip)

[2021-10-25 09:43] #462 closed, assigned to nobody

[2021-10-25 11:03] neanda opened #470 "Allow all style overrides in the library"
In some symbols, it'd be very useful to change the Text Style to be bold (like for Cards) or centred (like in Masthead tabs, or to generally change Layer Styles.  Allowing all styles to be overriden, by default, would allow for more flexibility in using the PF Design System (which is, by the way, the most well-thought out and comprehensive one out there, thank you your detailed work on this and fo

[2021-10-25 11:25] neanda opened #469 "Tiles - Text Style = Centered, Layers = Centered/No Pin to edges"
I believe that the Tiles are used as a big button, so layers should be centered. The Tiles are a bit of a mess tbh (I don't mean to be harsh, just had to be said), especially when resizing or when changing the text values.  Maybe in the '1. Basic tile / 2. Text with icon' use a Text with Icon symbol to make it easier to keep it centered.   Also, maybe remove the pin to edges for the text layers. T

[2021-10-25 11:40] neanda opened #468 "Buttons = Center all layers"
Resizing the buttons, or changing their text values, is quite troublesome as things are not centered. You could:
- Center align all text (ones without icons)
- Unpin 'all' layers from all edges (so we can make different size buttons)
- Text With icon, make into a group (or use a text with icon symbol), unpin from edges, and left/right-align text depending on icon position, and check spacing betwee

[2021-10-27 09:42] #468 closed, assigned to doruskova

[2021-11-02 10:04] doruskova commented on #457
@jhiadlov As Matt mentioned, need to consider the visual for this
issue https://github.com/patternfly/patternfly-design/issues/991

[2021-11-02 11:52] doruskova commented on #455
Merged!

[2021-11-02 11:52] #455 closed

[2021-11-04 15:31] doruskova opened #471 "Drawer - Figma"

[2021-11-04 15:31] doruskova commented on #471
Merged

[2021-11-04 15:31] #471 closed

[2021-11-04 15:38] doruskova opened #472 "Hint"

[2021-11-04 15:38] doruskova commented on #472
merged

[2021-11-04 15:38] #472 closed

[2021-11-04 15:44] doruskova opened #473 "Loaders"

[2021-11-04 16:19] doruskova opened #474 "Slider"

[2021-11-04 16:19] doruskova commented on #474
Done

[2021-11-04 16:19] #474 closed

[2021-11-05 11:46] doruskova opened #475 "Update text styles"
Feedback from designers:

I would LOVE centered text for empty states — size 14!
And a yes please for medium/bold text styles! I always end up designing with the thinner styles because I can’t be bothered to go back and change them

[2021-11-05 12:49] doruskova commented on #464
merged

[2021-11-05 12:49] #464 closed

[2021-11-05 12:49] doruskova commented on #463
merged

[2021-11-05 12:49] #463 closed

[2021-11-05 12:49] doruskova commented on #465
merged

[2021-11-05 12:49] #465 closed

[2021-11-05 13:10] doruskova opened #476 "Code editor and snippet"

[2021-11-05 13:10] doruskova commented on #476
merged

[2021-11-05 13:10] #476 closed

[2021-11-08 14:42] doruskova commented on #457
@jhiadlov So, Monaco editor already has a way to configure any keyboard shortcuts and also comes with most of the standard keyboard shortcuts built-in. That means we don't have to use labels from PF. However, I'd like to wait for the implementation.

[2021-11-11 11:16] doruskova opened #477 "Add Application launcher"
Change the settings in the Application launcher component to fit Figma shared styles. That means:

- Change text to relevant text style
- Change background to relevant background-color style
- Be sure that the component resizing works well
- Fix icons - sometimes they are deformed
- Create variants as the last step. For example menu item has more states > create 1. variant with more properties ins

[2021-11-19 23:27] neanda opened #478 "Text Style - 06. Size md (RHT rg 16) should be (RHT md 16)"
As the emphasis in these styles are Medium

[2021-11-22 08:50] doruskova commented on #469
@jhiadlov any update here?

[2021-11-22 09:06] doruskova commented on #478
fixed

[2021-11-22 09:06] #478 closed

[2021-11-23 08:34] jhiadlov commented on #469
@doruskova I tried to fix it, but I don't think it's possible to make it in Sketch the way we want it to work.

[2021-11-23 08:43] doruskova commented on #469
@jhiadlov Thank you for the update!

[2021-11-23 08:48] doruskova opened #479 "Add FileUpload component"
https://github.com/patternfly/patternfly-design/issues/1064

https://marvelapp.com/prototype/69jc198/screen/82770742

[2021-11-23 15:17] doruskova opened #480 "Add navigation enhancements"
Flyout [flyout-nav.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7589070/flyout-nav.sketch.zip) - **DONE**
Drill down - https://www.patternfly.org/v4/components/navigation/html#nav-with-drilldown-menu - **DONE**
Third level - expandable https://www.patternfly.org/v4/components/navigation#expandable-third-level - **TEMPLATE MISSING**

[2021-11-23 16:13] mcarrano commented on #480
Google doc with specs and prototype links: https://docs.google.com/document/d/17jhcgkUgpw7f9Ixf9ew8RfcivSck9mdv_Yw6fIZhlAs/edit?ts=60cb76dd#heading=h.ea3lujnv46vp

[2021-11-29 15:52] doruskova commented on #479
@jhiadlov Here is a link to the sketch file: https://sketch.com/s/55446f68-c5d0-4845-94dc-6d8385e3f523

[2021-11-29 21:19] maryshak1996 opened #481 "Videos not working / out of date on H5P"
From OpenShift Ecosystem team=:

Update videos on H5P instance of Sketch Training: https://h5p.org/node/696617

[2021-11-30 10:53] doruskova commented on #469
@jhiadlov Fixed!

[2021-11-30 10:53] #469 closed

[2021-11-30 13:16] doruskova opened #482 "Update RH font"
https://github.com/patternfly/patternfly/pull/4476

Related to #497

[2021-11-30 16:19] doruskova commented on #441
@jhiadlov Implementation available here https://www.patternfly.org/v4/components/card#selectable-and-selected

[2021-11-30 16:25] doruskova opened #483 "Tiles and selected state update"
https://www.patternfly.org/v4/components/tile

[2021-11-30 16:34] doruskova commented on #439
https://www.patternfly.org/v4/components/table#composable-sticky-column

[2021-11-30 21:24] kaedward opened #484 "Sketch training module - Broken links"
https://patternflyt-training.thinkific.com/courses/take/pf-sketch-e-training/texts/12855160-practice-your-efficiency

Broken links located in: Topic three, Activity one

These links lead to an error page:
https://www.sketch.com/s/5a7fb93a-12af-4e31-a8c3-14b55956a6b4
https://www.sketch.com/s/5a7fb93a-12af-4e31-a8c3-14b55956a6b4

Correct link is:https://www.sketch.com/s/bb8afd89-4889-4458-8932-de9d9

[2021-12-01 06:04] neanda commented on #469
thank you

[2021-12-01 06:08] neanda commented on #469
you guys are very smart people, this world needs this

[2021-12-06 09:24] jhiadlov commented on #441
[card new style.zip](https://github.com/patternfly/patternfly-design-kit/files/7659568/card.new.style.zip)
Hey, I made a new style, could you please check it? Thanksss :)

[2021-12-06 09:45] doruskova opened #485 "Update colors page"

[2021-12-06 10:28] jhiadlov commented on #480
Hi, I compared the sketch file (symbols) with the implementation of Nav with Flyout.

- I added  ~ / L1 / hover
- corrected background color in ~ / L1 / hover and ~ / L1 / selected
- added left line in ~ / L1 / in group / expandable / collapsed / hover
[flyout-nav.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7659938/flyout-nav.sketch.zip)
- changed horizontal padding from

[2021-12-07 02:09] neanda commented on #470
I see what you mean, but if PF is meant as a DS for anybody else (as I realise the Red Hat DS is for only RH apps), shouldn't it be free to adjust to our own patterns, after starting from PF?

[2021-12-08 10:40] doruskova commented on #441
@jhiadlov Hey, it's merged! I just created a layer style for it because it'll be easier to change the background then :)
The style is available under State/Card/Hover or selected

[2021-12-08 10:52] doruskova commented on #441
#483 just FYI

[2021-12-08 14:23] doruskova commented on #485
Merged!

[2021-12-08 14:23] #485 closed

[2021-12-13 13:15] doruskova commented on #483
Any update? @jhiadlov

[2021-12-13 14:38] doruskova commented on #480
@jhiadlov Thank you! The padding was correct. I merged it and it's also available in a template file.
Just want to note here some advice:

- Always name your components how you (as a user) expect them to be organized in a library. I was soo confused about the L1 and ~. I know it was used in the original Sketch. But, it's not something you should follow in detail.
I guess that everyone will underst

[2021-12-13 14:43] doruskova commented on #480
@jhiadlov Would you mind taking the third level - expandable menu? And please follow the implementation :) There is no sketch file for it.

- Name it as clear as possible. For example: Navigation / Third level expandable / Default (hover,selected)
- When you'll create a template for it, please follow this screen https://www.sketch.com/s/729c2eee-e8b6-4fcd-8a79-f6faa8c30f89/a/oYZjvbQ

[2021-12-13 14:44] jhiadlov commented on #483
not yet, working on another issue :)

[2021-12-13 15:07] doruskova commented on #470
@neanda I'll consider it. Currently, many components have all overrides enabled (cards). The next option is that you can always detach the symbol from the library and customize it as needed. When I enable overrides, for instance, for text styles now > the library needs to be prepared for that because it's possible that you'll not find what you need at the moment. We'll work to make it make sense h

[2021-12-13 15:08] #470 closed

[2021-12-13 15:09] #434 closed

[2021-12-13 15:11] #424 closed

[2021-12-13 15:12] doruskova commented on #420
https://github.com/patternfly/patternfly-design-kit/issues/480

[2021-12-13 18:03] mmenestr opened #486 "Default expandable alert background not expanding with outline"
Background not responding with the dragging to make it wider

![image](https://user-images.githubusercontent.com/51165119/145864630-0aa7424d-5cf6-4b77-9dbc-89f2799ba427.png)

[2021-12-15 14:12] doruskova commented on #486
@mmenestr Good catch! Fixed :)

[2021-12-15 14:34] doruskova commented on #480
@jhiadlov Drill down is done

[2021-12-15 15:25] #415 closed

[2021-12-15 15:38] doruskova opened #487 "Add table striped rows"
https://marvelapp.com/prototype/2ccbf976/screen/83674640

1. Add a row background that reflects stripes to a library. Use the lightest grey black-100 for a stripe.
2. Create an example in a context.

[2021-12-20 10:34] jhiadlov commented on #479
[file_upload.zip](https://github.com/patternfly/patternfly-design-kit/files/7744611/file_upload.zip)
Hi, I made a few examples for file upload, but I still have some questions about it. I will ask you in our call.

[2021-12-20 10:36] jhiadlov commented on #483
[tiles.zip](https://github.com/patternfly/patternfly-design-kit/files/7744627/tiles.zip)
Updated tiles with new styles

[2021-12-20 11:34] jhiadlov commented on #480
[third level.zip](https://github.com/patternfly/patternfly-design-kit/files/7744934/third.level.zip)
I did third-level symbols. Could you please check them?

[2022-01-03 12:58] doruskova commented on #480
@jhiadlov Merged! Could you create a template for that?
I changed the naming a little bit because your structure created a lot of nested folders. Try to keep 3 nested folders max.

[2022-01-03 13:09] doruskova commented on #483
@jhiadlov Merged! Thank you!

[2022-01-03 13:09] #483 closed

[2022-01-03 13:14] doruskova commented on #441
@jhiadlov So tiles have been merged from the previous issue. Could you create a template file that reflects the example displayed above? It should be added to Cards page :)

[2022-01-03 13:44] doruskova commented on #479
@jhiadlov Horizontal multiple file upload has been merged! It was correct! The only thing that is missing in a template file is:
https://www.patternfly.org/v4/components/file-upload---multiple#basic
https://www.patternfly.org/v4/components/file-upload---multiple#drag-over
https://www.patternfly.org/v4/components/file-upload---multiple#file-upload-status-expanded

It's basically the same thing > ju

[2022-01-03 13:44] doruskova commented on #479
Need to add this icon to a library https://fontawesome.com/v5.15/icons/file?style=solid

[2022-01-03 13:46] doruskova opened #489 "Add file icon to a library"
https://fontawesome.com/v5.15/icons/file?style=solid

This icon is missing in a library and it's being used in Multiple File upload component.

Add File icon to a library - all sizes

[2022-01-05 10:00] doruskova opened #490 "Update Multifile upload"
Add File icon to a library - all sizes
Update current file icon in Multifile upload to a library icon.

[2022-01-05 13:37] doruskova opened #491 "Add disabled style for cards and tiles"
Add disabled style for cards and use it in Tiles and show it as example in a template file.

[2022-01-05 13:49] doruskova commented on #441
@jhiadlov https://github.com/patternfly/patternfly-design-kit/issues/491

[2022-01-05 14:04] jhiadlov commented on #491
[style disabled state.zip](https://github.com/patternfly/patternfly-design-kit/files/7815410/style.disabled.state.zip)

[2022-01-05 14:13] jhiadlov commented on #491
[disabled state style.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7815466/disabled.state.style.sketch.zip)

[2022-01-05 14:22] doruskova commented on #491
Now you can update disabled tiles in a template file directly

[2022-01-05 14:33] jhiadlov commented on #441
[template cards new style.zip](https://github.com/patternfly/patternfly-design-kit/files/7815556/template.cards.new.style.zip)
I added cards with a new style to the template.

[2022-01-05 14:45] doruskova commented on #491
Tiles updates - disabled state

[2022-01-06 19:08] #481 closed

[2022-01-06 19:09] #484 closed

[2022-01-07 12:07] doruskova commented on #477
I finished what you started :) Merged!

[2022-01-07 12:07] #477 closed

[2022-01-07 17:04] mmenestr opened #492 "Bell icon is the wrong blue (for default alerts)"
Looks like the bell icon is a lighter blue than it should be in the symbol library, and there is an issue with the default color naming

What is is:
![image](https://user-images.githubusercontent.com/51165119/148579476-2e2440ac-dfbb-4605-95a9-9acb6915bf13.png)

What it should be:
![image](https://user-images.githubusercontent.com/51165119/148579489-5aa633e1-e36a-41ac-a8d8-ade7a6689c2e.png)

I thin

[2022-01-07 17:50] doruskova commented on #492
@mmenestr Great catch! Thank you! It should be fixed now.

[2022-01-07 17:50] #492 closed

[2022-01-10 09:54] jhiadlov commented on #441
[card states template.zip](https://github.com/patternfly/patternfly-design-kit/files/7837968/card.states.template.zip)
So I added cards with a new style into the template, so it is simulating the webpage. I hope it is alright now.

[2022-01-10 09:59] doruskova commented on #441
@jhiadlov Yes, it is. But, create just one row with one card that is hovered, the other selected and the last is disabled. Doesn't make sense to have 3 selected, 3 hovered and 3 disabled. The other cards doesn't need any style. Just do it as it is in a picture above.

[2022-01-10 10:32] jhiadlov commented on #480
[expandable 3rd lvl menu template.zip](https://github.com/patternfly/patternfly-design-kit/files/7838192/expandable.3rd.lvl.menu.template.zip)
I made a template for 3rd level

[2022-01-10 12:27] doruskova commented on #480
@jhiadlov Looks great! Can you add it to our template file?

[2022-01-11 10:03] jhiadlov commented on #441
Fixed and merged! 🎉

[2022-01-11 10:04] jhiadlov commented on #480
Merged! :)

[2022-01-11 11:18] #480 closed

[2022-01-11 11:19] #420 closed

[2022-01-11 11:19] #441 closed

[2022-01-11 11:19] #491 closed

[2022-01-12 12:17] doruskova commented on #489
[file-solid.svg.zip](https://github.com/patternfly/patternfly-design-kit/files/7854469/file-solid.svg.zip)
@jhiadlov

[2022-01-13 10:40] doruskova opened #493 "Add progress button - loading and complete"
https://www.patternfly.org/v4/components/button/html-demos/#progress-button---complete

[2022-01-13 11:34] doruskova commented on #493
Added primary and secondary button with a loading state and icons

[2022-01-13 11:34] #493 closed

[2022-01-17 12:42] doruskova commented on #489
@jhiadlov Any update?

[2022-01-18 09:06] jhiadlov commented on #489
[file icon.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/7887628/file.icon.sketch.zip)
I added File icon to framework category. The shape of Task icon looked similar to File icon, that's why I used the same height. Is it okay?

[2022-01-18 09:12] doruskova commented on #489
@jhiadlov Looks great! Can you merge it?

[2022-01-18 09:42] jhiadlov commented on #489
Merged!

[2022-01-18 09:44] #489 closed

[2022-01-18 10:08] doruskova commented on #479
Any update here?

[2022-01-18 10:20] jhiadlov commented on #479
[FileUpload component.zip](https://github.com/patternfly/patternfly-design-kit/files/7888162/FileUpload.component.zip)
Added file upload basic, drag over, and file upload status expanded. Also updated file icons.

[2022-01-18 11:29] doruskova commented on #479
@jhiadlov It looks amazing! You can merge it to our template file :)

[2022-01-18 15:53] jhiadlov commented on #479
Merged! :)

[2022-01-19 08:59] #479 closed

[2022-01-19 11:15] jhiadlov commented on #490
I guess this issue is also done, isn't it?

[2022-01-19 11:26] doruskova commented on #490
@jhiadlov Yes! Thanks for the reminder. :D

[2022-01-19 11:26] #490 closed

[2022-01-20 09:09] doruskova opened #494 "Test"
test

[2022-01-20 13:10] #494 closed

[2022-01-20 13:30] doruskova commented on #405
It looks that this component is not needed. I'm closing this issue

[2022-01-20 13:30] #405 closed

[2022-01-21 15:19] mcarrano opened #495 "Update user menu symbol in Masthead"
Last year we updated our guidance on the user menu in the masthead to swap the order of the dropdown and avatar. Looks like the Sketch library never got updated. You can see what the new configuration looks like here: https://www.patternfly.org/v4/components/navigation/react-demos/default-nav/ The avatar should come before the dropdown.

[2022-01-22 11:15] jhiadlov commented on #439
- I made a new symbol "Data list + table / 1. Row / 1. Row background / Sticky column" with lines on the right and the bottom.

- Also made "Data list + table / 2. Table header / Large (16px spacers) / 7. Nested column", I wasn't sure if I should use existing symbols inside or not. I decided not to, but I can fix it if you say so. Should I also make a compact version?

- Btw, there is no grey colo

[2022-01-24 09:44] doruskova commented on #495
@mcarrano Great catch! It's fixed now :)

[2022-01-24 09:44] #495 closed

[2022-01-24 13:15] doruskova commented on #439
@jhiadlov Let's talk about it on our next 1:1

[2022-01-24 16:06] doruskova opened #496 "Add editable labels"
https://github.com/patternfly/patternfly-design/issues/1073

[2022-01-25 16:25] doruskova opened #497 "Update table components"
Update table components (bg, features) to reflect the current implementation

[2022-01-26 11:54] cntlsn opened #498 "test wireframe issue"
test

[2022-01-26 12:01] #498 closed

[2022-01-26 12:02] cntlsn opened #499 "test wireframe issue 2"
test

[2022-01-26 12:03] #499 closed

[2022-01-27 07:26] jhiadlov commented on #439
Remade "nested column" component and now it is MERGED! So I am going to work on the template.

[2022-01-27 10:06] jhiadlov commented on #439
[table template.zip](https://github.com/patternfly/patternfly-design-kit/files/7949475/table.template.zip)
Here is the template. What do you think?

[2022-01-28 08:58] doruskova commented on #439
@jhiadlov It looks phenomenal. I think you can merge it into Tables :)

[2022-01-31 14:40] jhiadlov commented on #439
Merged! 💎

[2022-02-01 15:58] doruskova opened #502 "Update card with OCP logo and fix Gitlab icons in application launcher"
Change the logo due to policies.  **DONE!**
Fix the Gitlab icon in app launcher.

[2022-02-02 09:19] jhiadlov commented on #496
Color / Size / Filled-Outline / ...

[2022-02-02 15:09] doruskova opened #503 "Reconsider labels hierarchy in a library"
Related to #496

[2022-02-03 21:37] mmenestr opened #504 "Bug: labels don't resize properly"
The label outlines aren't getting "pinned" properly I guess, so they look like this, which makes it so that we have to manually expand the width to make it look normal

![image](https://user-images.githubusercontent.com/51165119/152433026-5fc6303e-729f-4136-ba8e-91de0b63aca1.png)

@doruskova

[2022-02-04 09:00] doruskova opened #505 "Create default and dismissable labels separately"
<img width="499" alt="Snímek obrazovky 2022-02-04 v 9 53 41" src="https://user-images.githubusercontent.com/32618096/152501025-834b8ed7-3bdb-49e3-a4e7-bdf1ef6713ae.png">

[2022-02-04 09:03] doruskova commented on #504
@mmenestr Unfortunately, this is how it works in Sketch. Let me explain it because I discussed this issue with a Sketch team.
Labels are using a Smart layout. That means you can't resize these components manually. Using Smart Layout and manually resizing elements might behave unexpectedly causes it isn't the intended purpose of the feature in this case.
You can fix it with resizing icon on the rig

[2022-02-04 09:04] doruskova opened #506 "Reconsider tables hierarchy"

[2022-02-04 10:02] doruskova opened #507 "Components audit"
Check how easy is to use our components in a library.

[2022-02-04 10:38] doruskova opened #508 "Changed order of elements in Jump links (subsection)"

[2022-02-04 10:38] #508 closed

[2022-02-04 10:46] doruskova commented on #502
OCP logo changed to PF logo because we shouldn't share it this way.

[2022-02-08 14:20] #504 closed

[2022-02-08 14:21] #475 closed

[2022-02-15 08:19] doruskova opened #509 "Add Avatar sizes"
https://github.com/patternfly/patternfly-design/issues/1076

--sm 24px
--md 36px
--lg 72px
--xl 128px

With md being the default.

[2022-02-15 11:44] doruskova opened #510 "Add dashboard demo to a template file"
Add dashboard with dashbar to a template file.
https://www.patternfly.org/v4/demos/dashboard/html-demos/basic/

[2022-02-15 12:55] doruskova commented on #502
@cshinn Issues that you reported to me should be fixed. The GitLab icon in the app launcher component is correct because it allows you to add an icon. You can select what icon you want to use. The implementation https://www.patternfly.org/v4/components/application-launcher#with-sections-and-icons is using the PF logo. But, we don't have the PF logo as an icon. I'm wondering, maybe we should have t

[2022-02-17 10:53] doruskova commented on #505
close this issue > problem with labels solved with a sketch team.

[2022-02-17 10:53] #505 closed

[2022-02-23 22:06] wesleymiles opened #511 "Broken Sketch links on the PatternFly site in the design section"
Links 1 and 2 don't work in the Sketch section: https://github.com/patternfly/patternfly-design-kit/issues/new#:~:text=but-,here,-%2C%20the%20two%20sketch

<img width="574" alt="image" src="https://user-images.githubusercontent.com/613815/155416478-5211b6ee-568c-4dd7-9d09-1da053c19676.png">

Maybe this is by design because we mention:

_"We still host the Patternfly 4 Overpass library and template

[2022-02-28 06:58] jhiadlov commented on #496
Hey!
I have a few questions:

1) When I put a dashed line under the text, the line is crossing the text (even when I put it on the bottom). Is there any hack how can I avoid this?

2) On the Pattterfly page, the hover label has a line and a cross darker color, but with "normal" labels it has not. Should I change it with these new labels?

3) The text on the label is always black, even with colorfu

[2022-02-28 10:09] doruskova commented on #496
@jhiadlov I'll try to answer here. But, we can discuss it tomorrow.
1. I don't think we can avoid it. So, it's fine :)
2. I don't know what you mean here. The hover state for editable labels is a black dashed line. Default is grey. The normal labels don't have this dashed line and the hover state show a bold border instead.
3. Text is not always black. Keep the original colors :) Text is black onl

[2022-02-28 10:17] doruskova commented on #511
@wesleymiles Thanks for letting us know about this issue. :)
We'll fix the links on a website. Here are the correct links to the old Sketch files:

- [Library PatternFly Overpass ](https://www.sketch.com/s/65cbc171-3b00-4bc7-b7ff-18e9a5b35ba8)
- [Template file with Overpass font](https://www.sketch.com/s/2987fea0-aaee-4e44-9974-5612c949aef0)

[2022-02-28 10:35] doruskova commented on #511
@wesleymiles I created a PR to fix these links. It'll be fixed soon :)

[2022-03-02 14:09] doruskova opened #514 "Tiles (Figma)"

[2022-03-03 09:25] doruskova opened #515 "Add Datepicker range date"
https://www.patternfly.org/v4/components/date-picker/react-demos#date-range-picker

[2022-03-03 10:13] doruskova opened #516 "Dropdowns (Figma)"
Redesign dropdown components from a Dropdown page. Here's the tutorial on [how to redesign components in Figma. ](https://docs.google.com/document/d/1j9NLVx_oGRwHJRtQtS4tK7_uzjpnx8XTCtjzdN0vU-o/edit?usp=sharing)
<img width="880" alt="Snímek obrazovky 2022-03-03 v 11 11 55" src="https://user-images.githubusercontent.com/32618096/156543715-b03ec38e-78bb-42e4-9031-a384412182dc.png">

[2022-03-03 10:14] doruskova opened #517 "Add PF logo as an icon"
https://github.com/patternfly/patternfly-design/issues/1133

[2022-03-03 14:56] blfetche commented on #516
Thanks again Marie for putting together our first meeting!

[2022-03-07 13:25] doruskova commented on #517
Merged!

[2022-03-07 13:25] #517 closed

[2022-03-07 13:30] doruskova opened #518 "Change icons in app launcher to PF icon"
Change icons from Gitlab ones to PF ones.

[2022-03-07 13:30] #518 closed

[2022-03-07 15:47] doruskova commented on #496
@jhiadlov Any update?

[2022-03-07 15:49] doruskova commented on #487
@jhiadlov Here's the implementation https://www.patternfly.org/v4/components/table#composable-striped
https://www.patternfly.org/v4/components/table#composable-striped-expandable

[2022-03-07 15:49] doruskova commented on #487
@jhiadlov I would do this issue after table reorganization

[2022-03-07 15:50] #502 closed

[2022-03-08 12:53] jhiadlov commented on #509
[avatar masthead.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/8206331/avatar.masthead.sketch.zip)

[2022-03-08 19:33] jhiadlov commented on #509
Merged! 🎉

[2022-03-09 13:51] #509 closed

[2022-03-10 13:52] MariaLeonova opened #519 "[SKETCH TRAINING] links outdated"
Several links throughout the training are broken, including a few in the very last section.
Some of them include:
- PatternFly SVG library (https://github.com/patternfly/patternfly-design-kit/tree/master/Symbol-SVGs),
- Contribute to PatternFly design (new or variant patterns) (https://www.patternfly.org/v4/contribute/designers),
- Finished page link is broken here in Instructions, 3 (https://patt

[2022-03-11 02:54] yih-wang opened #520 "It may lead confusion that part of the mid-fi components are colored and others are not"
Hey @cntlsn, I'm trying out the wireframe design kit and it looks really nice! There's a problem I met that the toggle of ON status is not in the blue color. I can understand that it could reduce the influence of the visual effect. But at the same time, the primary button is still with blue color. When I have both these two elements on one page, I feel like I can tell the status from the color so

[2022-03-11 11:40] cntlsn commented on #520
Hi @yih-wang, thank you very much for your feedback! We're glad that you find the wireframe design kit helpful!

You make a very interesting point about the colored mid-fi components. The rationale for colored mid-fi components is that we wanted to only highlight the main CTAs, in order to:
* give it special relevance
* do not overload the wireframe with visual information

In fact, we suggest kee

[2022-03-11 12:54] doruskova commented on #457
@jhiadlov Here's the implementation of the shortcuts!
https://patternfly-react-pr-6989.surge.sh/components/code-editor

<img width="435" alt="Snímek obrazovky 2022-03-11 v 13 53 47" src="https://user-images.githubusercontent.com/32618096/157870366-20c527d3-bddd-481f-b9c4-19c630e9ab1f.png">

[2022-03-11 13:32] doruskova commented on #519
@maryshak1996 The correct links for the first two points are:
SVGs - https://github.com/patternfly/patternfly-design-kit/tree/master/Symbols-SVGs
PF Design - https://www.patternfly.org/v4/contribute/design

[2022-03-14 02:38] yih-wang commented on #520
@cntlsn Thanks for the reply!

No, it's just one of the settings.

I haven't showed it to the reviewer yet. But I kind of have this feeling when seeing the screen.

[2022-03-14 08:44] doruskova commented on #515
@jhiadlov Any update?

[2022-03-14 11:13] jhiadlov commented on #515
I was back in Slovakia, I returned just yesterday evening. I didn't have my laptop with me. Gonna work on it this week :)

[2022-03-14 11:23] doruskova commented on #515
@jhiadlov Great! Thanks for reply :)

[2022-03-14 13:05] doruskova commented on #510
Merged!

[2022-03-14 13:05] #510 closed

[2022-03-14 13:21] doruskova opened #521 "Updated cards and move dashboard card to Cards page"
Apply the new styling to cards, remove the blue line at the top and move dashboard cards to the Cards page.

[2022-03-14 13:22] doruskova commented on #521
Merged!

[2022-03-14 13:22] #521 closed

[2022-03-14 15:00] doruskova opened #522 "Add search input dark theme"
https://github.com/patternfly/patternfly-design/issues/1112
Core issue https://github.com/patternfly/patternfly/issues/4705

Waiting on the implementation
https://github.com/patternfly/patternfly/pull/4827

[2022-03-15 07:52] jhiadlov commented on #496
[dashed lines.zip](https://github.com/patternfly/patternfly-design-kit/files/8251174/dashed.lines.zip)
Labels are done, we should just discuss the hierarchy :)

[2022-03-15 12:51] aprilma419 commented on #520
<img width="488" alt="Screen Shot 2022-03-15 at 8 39 10 PM" src="https://user-images.githubusercontent.com/44431015/158379757-c7142b2d-3275-442f-a9d3-3610adcf1e7d.png">

@yih-wang We looked at the design as above, according to the comments we found in the slides probably what’s needed is that the wireframe will be moved to hi-fi. That being said, feel free to use a hi-fi lib component in a wirefra

[2022-03-15 13:31] jhiadlov commented on #515
[datepicker.zip](https://github.com/patternfly/patternfly-design-kit/files/8253718/datepicker.zip)
Here is the template for the datepicker :) I am just not sure with the border around clock icon (referring to what we talked during our call)

[2022-03-15 14:05] doruskova opened #523 "Form inputs - Figma"
@simrandhaliw

Redesign Form groups component to reflect the current state in Sketch. This is a screenshot from the sketch of how it should look like and what icons are used.
<img width="998" alt="Snímek obrazovky 2022-03-15 v 15 39 33" src="https://user-images.githubusercontent.com/32618096/158402597-40365cf4-42c3-4f18-8afd-516836fcfee4.png">

[2022-03-15 14:43] doruskova commented on #503
@jhiadlov I've updated the labels and created a new hierarchy for it. It's merged. I hope it makes sense. Could you check it?
<img width="341" alt="Snímek obrazovky 2022-03-15 v 15 42 33" src="https://user-images.githubusercontent.com/32618096/158403098-9c7427f1-a0e6-40ee-95b1-0df8204edade.png">

[2022-03-15 14:48] doruskova commented on #515
@jhiadlov It's great! The border is correct because it's in a demo as well https://www.patternfly.org/v4/components/date-picker/react-demos

Can you merge it to a template file?

[2022-03-16 01:41] haley666 commented on #520
That sounds great, thanks!

[2022-03-16 01:42] yih-wang commented on #520
That sounds great, thanks!

[2022-03-16 09:55] jhiadlov commented on #515
Merged! 💎

[2022-03-16 09:56] jhiadlov commented on #503
Oh, nice! I think you managed it very well!

[2022-03-16 09:57] #515 closed

[2022-03-16 11:34] #503 closed

[2022-03-17 10:13] #520 closed

[2022-03-17 15:43] #519 closed

[2022-03-21 20:21] jhiadlov commented on #457
Working on it! Sorry for not letting you know.

[2022-03-22 08:49] jhiadlov commented on #457
[shorcut.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/8322643/shorcut.sketch.zip)
I made a shortcut on a Code editor page.

[2022-03-22 09:36] doruskova commented on #457
@jhiadlov You can merge it and then create a template with this new symbol :)

[2022-03-22 13:55] jhiadlov commented on #457
[code editor shortcuts template.zip](https://github.com/patternfly/patternfly-design-kit/files/8324872/code.editor.shortcuts.template.zip)

[2022-03-22 18:59] #457 closed, assigned to doruskova, jhiadlov

[2022-04-04 10:47] doruskova opened #524 "Add editable label group"
https://github.com/patternfly/patternfly-design/issues/1108#issuecomment-1080670585

Marvel mocks https://marvelapp.com/prototype/2d90c04g/screen/85343000

Sketch Cloud https://www.sketch.com/s/4cbddfc7-30e3-4b5a-bcde-8ff87b6910d3

Both scenarios are valid

[2022-04-04 11:43] doruskova opened #525 "Add critical risk icon"
https://github.com/patternfly/patternfly/issues/4747

[2022-04-04 12:17] doruskova opened #526 "Add switch with checkmark and label"
https://github.com/patternfly/patternfly-design/issues/1137

[2022-04-06 15:06] doruskova opened #527 "Review and fix Accordion component"
**Check the color styling**

- [ ] Is the background color connected to a library shared style?
- [ ] Is the icon color connected to a shared style?
- [ ] Is the focus state using a shared style?

**Check the text styling**

- [ ] Is the text using the text style from the library?
- [ ] Is the text using a fill as a color style?

**Check the usability of the component**

1. Use the component from

[2022-04-07 07:50] jhiadlov commented on #525
[critical-risk icon.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/8440738/critical-risk.icon.sketch.zip)
Hey. I made a critical risk icon for all sizes. I add it to the Framework section, but I am not sure if it should be there. Could you please check it? :)

[2022-04-08 11:16] jhiadlov commented on #526
[switch andchceckmark.sketch.zip](https://github.com/patternfly/patternfly-design-kit/files/8451321/switch.andchceckmark.sketch.zip)
Could you please check it? :)

[2022-04-08 11:27] doruskova commented on #526
Looks great! Could you add it to a library?

[2022-04-08 13:59] jhiadlov commented on #526
Merged!

[2022-04-08 14:00] #526 closed

[2022-04-08 16:17] mmenestr opened #528 "Add "back to top" component to library"
Need to add the [back to top ](https://www.patternfly.org/v4/components/back-to-top)component to the symbol library.
Yifat was looking to use it!

[2022-04-11 06:45] doruskova commented on #528
It's already in a library under Buttons :)
https://www.sketch.com/s/2cf1063b-5283-4e0b-b8a6-cbb1ac07e29e/a/nRZRkdp

[2022-04-11 12:50] #528 closed

[2022-04-11 12:54] doruskova commented on #525
@jhiadlov I think it should be in a Status. :) Could you change it and merge it? Thank you!

[2022-04-13 14:08] doruskova commented on #525
@jhiadlov Did you merge it? Can I close this issue?

[2022-04-14 07:15] jhiadlov commented on #525
Merged!

[2022-04-14 10:25] #525 closed

[2022-04-14 11:53] doruskova commented on #527
@ajacobs21e I updated the description where I've added a section about documentation links.

[2022-04-14 12:46] doruskova commented on #524
@jhiadlov updated description. Including the original sketch file.

[2022-04-18 07:00] jhiadlov commented on #524
I am working on this :)

[2022-04-19 07:46] doruskova opened #529 "Review and fix Buttons component"
**Check the color styling**

- [ ]  Is the background color connected to a library shared style?
- [ ]  Is the icon color connected to a shared style?
- [ ]  Is the focus state using a shared style?
- [ ] Check the text styling

 **Is the text using the text style from the library?**

- [ ]  Is the text using a fill as a color style?
- [ ] Check the usability of the component

**Use the component

[2022-04-19 08:01] doruskova opened #530 "Review and fix Chips component"
**Check the color styling**

- [ ]  Is the background color connected to a library shared style?
- [ ]  Is the icon color connected to a shared style?
- [ ]  Is the focus state using a shared style?
- [ ] Check the text styling

 **Is the text using the text style from the library?**

- [ ]  Is the text using a fill as a color style?
- [ ] Check the usability of the component

**Use the component

[2022-04-19 08:06] doruskova opened #531 "Review and fix labels component"
**Is the text using the text style from the library?**

- [ ]  Is the text using a fill as a color style?
- [ ] Check the usability of the component

**Use the component from the Assets view (left panel, second tab)**

- [ ] Try to type some text in it and resize it
- [ ] See what's wrong, for example, the background is not resizing correctly or some part has completely changed its position.
- [ ]

[2022-04-19 08:13] doruskova opened #532 "Review and fix Slider component"
Documentation for Slider component https://www.patternfly.org/v4/components/slider

**Check the color styling**

- [ ] Is the background color connected to a library shared style?
- [ ] Is the icon color connected to a shared style?

**Check the text styling**

- [ ] Is the text using the text style from the library?
- [ ] Is the text using a fill as a color style?

**Check the usability of the co

[2022-04-19 08:20] #514 closed

[2022-04-20 10:52] doruskova commented on #487
@jhiadlov Symbols have been created, but they are not merged yet because of changes in the table component.

[2022-04-20 13:05] doruskova commented on #506
Merged

[2022-04-20 13:06] doruskova opened #533 "Update template file for tables and data lists"

[2022-04-20 13:33] doruskova opened #534 "Add timestamp component"
https://github.com/patternfly/patternfly-design/issues/1094

Waiting on implementation https://github.com/patternfly/patternfly/issues/4801

Design: https://marvelapp.com/prototype/2cf6171g/screen/84579418

[2022-04-20 13:34] doruskova opened #535 "Reconsider approach to scrolling horizontal tabs on mobile"
https://github.com/patternfly/patternfly-design/issues/1034

Follow the implementation :))

https://patternfly-react-pr-7742.surge.sh/components/tabs/#horizontal-overflow

[2022-04-20 20:35] blfetche commented on #531
This sounds great Marie thanks for sharing. I think there is pro and con to both, I generally try to look at things as state vs variant. A variant is a completely different version whereas a state is a child to a variant. Options within a variant.

[2022-04-20 20:38] blfetche commented on #529
Marie, I can take this one, I can't seem to assign it to myself. Can you Assign it to me?

[2022-04-21 06:44] doruskova commented on #529
@blfetche Stefan Kukla took this issue. I can't assign issues because you need to be part of the PatternFly organization.
You wanted to work on labels so I mentioned you there :)

[2022-04-21 06:46] doruskova commented on #531
Yeah, I totally agree. I assigned this issue to you because you mentioned last time you want labels :) I hope I remember it correctly.

[2022-04-21 11:51] jhiadlov commented on #524
Merged!

[2022-04-21 12:03] #524 closed

[2022-04-21 13:08] jhiadlov commented on #487
Merged!

[2022-04-21 13:23] #487 closed

[2022-04-21 14:07] doruskova commented on #482
Some tables can include numbers. We should show some examples that show numbers in a table.

[2022-04-27 10:56] #529 closed

[2022-04-27 11:00] doruskova commented on #529
@kuklas Thanks!

[2022-04-27 14:42] doruskova opened #537 "Review and fix Notification drawer"
https://www.patternfly.org/v4/components/notification-drawer

I'll explain it to you in the office. It'll be a little bit more difficult. Also, need to explain the properties.

[2022-04-28 08:00] #533 closed

[2022-04-28 08:27] jhiadlov commented on #482
Done and merged!

[2022-04-28 08:43] #482 closed

[2022-04-28 08:44] doruskova commented on #532
@Dearflynn Do you have any updates? Just checking the status :) Do you need any help? Let me know!

[2022-04-28 08:44] #497 closed

[2022-04-28 08:45] #446 closed

[2022-05-03 18:40] Dearflynn commented on #532
- [x] Base track and filled track are now both resizable

[2022-05-04 08:25] doruskova commented on #532
@Dearflynn Can you send it here so that I can take a look? Thank you :)

[2022-05-06 08:23] doruskova commented on #527
@ajacobs21e Thank you and if you can't finish it. It's fine as well :)))

[2022-05-10 07:22] Dearflynn commented on #532
Here's the file with:
[x] Basic slider
[x] Continuous slider
[x] Value input slider
[x] Thumb input slider

All with documentation links.

Still need:
[] Discrete slider (with dots)
[] Actions
[] Disabled

[PatternFly(Delphine_Copy).fig.zip](https://github.com/patternfly/patternfly-design-kit/files/8659166/PatternFly.Delphine_Copy.fig.zip)

[2022-05-10 07:25] doruskova commented on #532
@Dearflynn You're awesome. I'll review and let you know today :)

[2022-05-10 08:58] doruskova opened #539 "Fix Jump links"

[2022-05-10 08:59] doruskova commented on #539
Just added an issue that you finished last week :)

[2022-05-10 08:59] #539 closed

[2022-05-10 09:04] doruskova commented on #522
@jhiadlov The implementation is finished. Add symbols for search input in a masthead. I would add them to a masthead section. After that, create 2 screens for a template file that reflects the interaction. That means, there is just an icon in the beginning and when you click on it > the search appears.

[2022-05-10 15:03] doruskova commented on #532
@Dearflynn I sent you a message on a Slack :)) You don't have to create Discrete slider :)

[2022-05-11 13:14] #527 closed

[2022-05-11 14:07] doruskova opened #540 "Update context selector"
https://www.patternfly.org/v4/components/context-selector/design-guidelines

[2022-05-11 14:09] doruskova opened #541 "Add Query builder"
https://github.com/patternfly/pf-requests/issues/17

[2022-05-12 08:11] doruskova commented on #537
Done! Thanks @kuklas

[2022-05-12 08:11] #537 closed

[2022-05-12 11:51] doruskova commented on #530
Done!

[2022-05-12 11:51] #530 closed

[2022-05-12 12:39] #522 closed

[2022-05-12 15:01] doruskova commented on #531
Done!

[2022-05-12 15:01] #531 closed

[2022-05-12 16:27] blfetche commented on #516
Marie I would like to revisit these since I have a better understanding of how to apply variants.

[2022-05-13 08:21] doruskova commented on #516
@blfetche Ok! I'll assign it to you :)

[2022-05-13 08:23] doruskova opened #542 "Review Code editor"
Review and fix issues with Code editor in Figma.

Language tab
- Check the styling. Use individual strokes for lines, not predefined style.
- Apply auto-layout

Snippet
- Auto-layout has been already applied. But, please check the padding

Code editor

- Check the responsiveness
- Remove the version called Code-area - Editable/2.Editable/1.No text and Editable/2.Read only/1.No text  - we want user

[2022-05-13 08:24] doruskova opened #543 "Rename icons"

[2022-05-16 12:45] doruskova opened #544 "Review tabs"
Review and fix tabs component :))

- Create as complex variants as possible. I think you would need one variant for horizontal (open, boxed, filled) and then separate for secondary tabs and overflow arrows, and the last variant will be vertical tabs (open, boxed)
- Use individual stroke, not effect style for lines.
- Use auto-layout for an auto-resizing
- Besides that, it would be great to create

[2022-05-18 11:52] doruskova opened #545 "Review Tree view"
Fix components in a Figma tree view.

[2022-05-18 12:49] jhiadlov commented on #545
I put all of them into one variant, so now you can choose if you want the background or action icon. Also, I made a "template". You can consider it done :)

[2022-05-19 13:34] doruskova opened #546 "Add gold label and update orange label"
https://github.com/patternfly/patternfly-design/issues/1158

[2022-05-23 13:33] doruskova commented on #540
Please update it in Figma too :))

[2022-05-23 13:33] doruskova commented on #543
Merged

[2022-05-23 13:33] #543 closed

[2022-05-24 15:55] mcarrano opened #547 "Date picker - Fix icons used to toggle the month"
We noticed that the icons used in the calendar for date picker are incorrect. The [original design here](https://docs.google.com/document/d/1hlS0R1l7gnoe-YDu1SEHpUSrf6WMuZPejR5AwYr0a20/edit) uses the left and right caret icons and not the arrows. See https://github.com/patternfly/patternfly/pull/4862 for more discussion.

[2022-05-25 12:40] doruskova commented on #547
@mcarrano I followed React implementation when I was creating datepicker component. I used arrows in the Sketch library. I guess it's correct. I didn't follow the HTML design. Let me know if it's ok :)
<img width="354" alt="Snímek obrazovky 2022-05-25 v 14 36 20" src="https://user-images.githubusercontent.com/32618096/170263473-6aa1cced-4b86-4a84-9372-87a548442296.png">

[2022-05-25 13:54] doruskova commented on #532
@Dearflynn Hey there! Do you have any updates on this issue?

[2022-05-25 14:03] mcarrano commented on #547
@doruskova I understand. But somewhere along the way, the React implementation deviated from the original design and we want to go back to using the left/right carets as done in the core implementation. I've opened an issue to make these updates in the React repo also. Thanks.

[2022-05-25 14:29] doruskova commented on #547
@mcarrano Oooh, got it. I'll update them :))

[2022-05-26 08:35] doruskova commented on #547
@mcarrano Merged!

[2022-05-26 08:35] #547 closed

[2022-05-26 16:11] Dearflynn commented on #532
[slider.fig.zip](https://github.com/patternfly/patternfly-design-kit/files/8780406/slider.fig.zip)

@doruskova here is a new file with constraints and the right blue slider on the variations.
I also added a slider with buttons variation.

[2022-05-30 08:01] doruskova commented on #532
@Dearflynn Thank you! Looks good. I merged it!

[2022-05-30 08:01] #532 closed

[2022-05-30 10:03] jhiadlov commented on #546
in progress

[2022-05-31 12:41] #544 closed

[2022-06-01 14:04] #546 closed

[2022-06-01 14:16] #523 closed, assigned to doruskova

[2022-06-02 11:02] jhiadlov commented on #540
Merged and done! :)

[2022-06-02 11:04] #540 closed

[2022-06-02 14:15] doruskova commented on #542
Merged!

[2022-06-02 14:15] #542 closed

[2022-06-02 14:15] doruskova commented on #516
@blfetche Thank you again!

[2022-06-02 14:15] #516 closed

[2022-06-02 14:51] doruskova commented on #516
@blfetche Ok!

[2022-06-02 15:30] doruskova opened #548 "Opening/Closing drawer in wizard design"
https://github.com/patternfly/patternfly-design/issues/1160

[2022-06-02 15:31] doruskova opened #549 "Create demo to show how alerts can be used in forms and modals"
https://github.com/patternfly/patternfly-design/issues/1125

[2022-06-03 09:20] doruskova opened #550 "Create example for selectable table"

[2022-06-03 09:21] doruskova opened #551 "Create cards example"
Recreate these two screens with cards to Figma. Show default, hover, and disabled state. You don't have to use the logos :)

https://www.sketch.com/s/729c2eee-e8b6-4fcd-8a79-f6faa8c30f89/a/v8ZLkp3
https://www.sketch.com/s/729c2eee-e8b6-4fcd-8a79-f6faa8c30f89/a/q3v1m2#Comment
<img width="1499" alt="Snímek obrazovky 2022-06-06 v 10 34 28" src="https://user-images.githubusercontent.com/32618096/1721

[2022-06-03 09:32] doruskova opened #552 "Create dashboard in Figma"

[2022-06-03 09:47] doruskova opened #553 "Create toast alerts example"

[2022-06-03 09:50] doruskova opened #554 "Create wizard to a template"

[2022-06-05 22:35] simrandhaliw commented on #553
Examples ready for review: [full-examples-PF-Figma-file](https://www.figma.com/file/DilMaDNOZeLpyjGtsjhmrx/PatternFly---Demos?node-id=0%3A1)

[2022-06-06 07:13] doruskova commented on #553
@simrandhaliw You rock! It looks great! Thank you so much!

[2022-06-06 07:13] #553 closed

[2022-06-06 11:17] doruskova opened #555 "Create compact table with labels and tooltip"
Created compact table with labels and tooltips
![Snímek obrazovky 2022-06-06 v 13 16 40](https://user-images.githubusercontent.com/32618096/172150758-f5904345-a747-4ac3-8f75-bdb6fdb006ca.png)

[2022-06-06 11:45] #555 closed

[2022-06-16 16:23] smckinno commented on #551
https://www.figma.com/file/1znHadOtZkHEkhuwR9fFIT/Card-examples?node-id=0%3A1

[2022-06-17 13:22] doruskova opened #556 "Fix static progress bar to customizable version"

[2022-06-17 13:25] #556 closed, assigned to doruskova

[2022-06-17 13:41] doruskova commented on #551
@smckinno I left some comments. But, it looks great!

[2022-06-20 12:49] doruskova commented on #552
@kuklas Any update?

[2022-06-20 12:49] doruskova commented on #554
Any update? @jhiadlov

[2022-06-21 14:32] #551 closed

[2022-06-22 12:26] doruskova commented on #552
@kuklas Any updates?

[2022-06-22 12:28] kuklas commented on #552
no updates yet, will update soon

[2022-06-23 13:15] blfetche commented on #550
https://user-images.githubusercontent.com/96086344/175307268-4fca539c-750b-4ab2-9658-880f65f4dec5.mov

Worked in the expand collapse but having issues with the select checkbox state not sure why it doesn't appear. I think it maybe a Figma bug

[2022-06-24 07:25] doruskova opened #557 "Remove shadow from navigation panel"
https://github.com/patternfly/patternfly-design/issues/1164

[2022-07-04 12:24] doruskova commented on #557
Merged

[2022-07-04 12:24] #557 closed

[2022-07-07 08:47] doruskova commented on #552
@kuklas Do you have any update?

[2022-07-07 08:52] kuklas commented on #552
Finishing prototype in PatternFly - Demos file
[This is how the animation works](https://www.figma.com/proto/DilMaDNOZeLpyjGtsjhmrx/PatternFly---Demos?page-id=0%3A1&node-id=188%3A7708&viewport=1458%2C-927%2C0.21&scaling=min-zoom&starting-point-node-id=188%3A7708&show-proto-sidebar=1)
+ will add a few more tiles and see how it all works together

[2022-07-07 10:13] kuklas commented on #552
Done! @doruskova

[2022-07-07 10:40] #552 closed

[2022-07-12 14:02] blfetche commented on #550
Sure no problem.

[2022-07-21 15:12] doruskova opened #560 "Red Hat Display for card titles"
https://github.com/patternfly/patternfly/issues/4737

[2022-07-21 15:15] doruskova opened #561 "Responsive behavior for vertical tabs"
Responsive behavior for vertical tabs[#1165](https://github.com/patternfly/patternfly-design/issues/1165)

[2022-07-22 10:33] doruskova commented on #560
Merged!

[2022-07-22 10:33] #560 closed

[2022-07-25 06:58] #507 closed

[2022-07-25 13:30] doruskova commented on #357
Updated charts in a library and template file

[2022-07-25 13:30] #357 closed

[2022-07-26 08:34] doruskova commented on #561
@jhiadlov Any update?

[2022-07-26 08:34] doruskova commented on #549
@jhiadlov Any update?

[2022-07-26 08:35] doruskova commented on #548
@jhiadlov Any update?

[2022-07-26 12:00] jhiadlov commented on #561
Work in progress. Hopefully tomorrow it will be done.

[2022-07-26 12:02] jhiadlov commented on #549
Work in progress. Hopefully tomorrow it will be done.

[2022-07-26 12:04] jhiadlov commented on #548
Working on it.

[2022-07-26 12:06] doruskova commented on #561
@jhiadlov Yes. But, did you update the sketch library and template file?

[2022-07-26 12:32] jhiadlov commented on #561
Updated! :)

[2022-07-26 12:50] #561 closed

[2022-07-26 13:05] jhiadlov commented on #549
[alerts in modal and form.zip](https://github.com/patternfly/patternfly-design-kit/files/9190004/alerts.in.modal.and.form.zip)
Is it okay like this? Or should I change anything :)

[2022-07-26 13:08] doruskova commented on #549
@jhiadlov It's absolutely fine :))

[2022-07-26 14:20] jhiadlov commented on #549
Merged!

[2022-07-26 14:23] #549 closed

[2022-08-01 08:45] jhiadlov commented on #535
I made new symbols and already used them in the template (page Tabs / horizontal overflow) and it is merged. Can you please check it? :) Thank you

[2022-08-01 08:51] doruskova commented on #535
Yes! It looks good! :))

[2022-08-01 08:51] #535 closed

[2022-08-01 08:56] doruskova opened #562 "Update vertical tabs - mobile behavior"
@jhiadlov Take a look at this issue again https://github.com/patternfly/patternfly-design/issues/1165
Your mocks are a little bit different from the implementation. There is no dropdown there.

[2022-08-02 15:23] doruskova opened #563 "AAP Components review"
Review of components from Ansible team.

@mcarrano Please let me know what you think :))

**Components that can be generalized in Sketch or added as a full component:**

- [x] Delete modal - we can add the skeleton with a header, close button, and buttons.
- [x] Error - we can add it as an empty state and would be useful to have some specific examples in a template file.
- [x] Empty state - add an

[2022-08-08 12:13] doruskova commented on #562
@jhiadlov Any update?

[2022-08-08 18:37] mcarrano commented on #563
@doruskova I think this makes sense. I think that there may be some value to giving greater visibility to the Ansible library if some of the patterns are useful to developers on other projects short of adding them directly to the PatternFly library. One thing we can do is to publish a link directly to the Anisble design library here: https://www.patternfly.org/v4/community as a community project w

[2022-08-09 10:16] doruskova opened #564 "Banner - add variant with icon"
https://github.com/patternfly/patternfly-design/issues/1159

[2022-08-09 13:50] doruskova opened #565 "Wizard - add full component"

[2022-08-09 16:19] jhiadlov commented on #562
I updated the mockup. Now it should look like the implementation. I just didn't change the background to a grey color. Is it okay like this?
https://marvelapp.com/prototype/dj6cag1/screen/87992357

[2022-08-10 08:44] jhiadlov commented on #564
work in progess

[2022-08-10 09:29] jhiadlov commented on #564
It's done and merged :)

[2022-08-10 09:37] doruskova commented on #564
@jhiadlov Thank youu!

[2022-08-10 09:37] #564 closed

[2022-08-15 11:21] doruskova opened #566 "Delete modal - AAP"
Added delete modal and updated modal component.

[2022-08-15 11:21] doruskova commented on #566
Merged

[2022-08-15 11:21] #566 closed

[2022-08-15 11:25] doruskova commented on #565
Merged

[2022-08-15 11:25] #565 closed

[2022-08-15 12:10] doruskova commented on #563
@mcarrano All components should be updated :))

[2022-08-15 12:18] doruskova commented on #534
Merged

[2022-08-15 12:18] #534 closed

[2022-08-15 12:20] doruskova opened #567 "Add new toggle button"
https://github.com/patternfly/patternfly-design/issues/1173

Add toggle button with badge

[2022-08-15 12:24] doruskova commented on #562
@jhiadlov Yes, it should be good to go. :))

[2022-08-16 13:11] doruskova opened #568 "Update group title component"
https://github.com/patternfly/patternfly-design/issues/974

[2022-08-16 13:11] #568 closed

[2022-08-16 14:19] doruskova opened #569 "Add "More" menu"
https://github.com/patternfly/patternfly/issues/4800

[2022-08-16 14:26] #569 closed

[2022-08-17 08:20] jhiadlov commented on #567
<img width="408" alt="Screenshot 2022-08-17 at 10 19 36" src="https://user-images.githubusercontent.com/78600774/185070264-c10d7ead-16b3-4dc8-936a-90450fe5db64.png">
It is done and merged. Here is the screenshot how does it look like and how I named it. Is it okay? :)

[2022-08-17 11:06] doruskova commented on #567
@jhiadlov yes, it is ok

[2022-08-17 11:06] #567 closed

[2022-08-17 11:13] doruskova commented on #562
@jhiadlov Did you merge it?

[2022-08-17 11:36] doruskova opened #570 "Create a library thumbnail"
Created a thumbnail for PF library

![Snímek obrazovky 2022-08-17 v 13 35 42](https://user-images.githubusercontent.com/32618096/185108979-0eef8747-eb16-49bb-a701-dc2ad231ea9e.png)

[2022-08-17 11:36] #570 closed

[2022-08-17 13:26] jhiadlov commented on #562
yes, it is merged

[2022-08-17 13:38] #562 closed

[2022-08-22 08:25] doruskova commented on #563
@mcarrano I reached out to Ansible team and they think it's a great idea to publish a link directly to the Ansible design library :))

[2022-08-22 08:25] #563 closed

[2022-08-25 09:16] doruskova opened #572 "dropdown and menu items - danger state (for delete / remove actions)"
https://github.com/patternfly/patternfly-design/issues/1168

[2022-08-30 12:21] doruskova opened #573 "Update tabs demos"
https://marvelapp.com/prototype/9766ieg/screen/88398107

[2022-09-01 09:21] doruskova opened #577 "Update Sketch files and SVGs - September"
Follow this doc https://docs.google.com/document/d/1nv02ByjdJw4R7pUc0vaPm56UGLdTsjBiInRRkUdm5UY/edit?usp=sharing

[2022-09-02 13:21] doruskova opened #578 "Add figma file to repository"

[2022-09-02 13:58] #578 closed

[2022-09-05 09:30] #577 closed

[2022-09-05 11:17] jhiadlov commented on #573
Updated and merched!

[2022-09-05 15:04] jhiadlov commented on #572
Done and merged.

[2022-09-05 15:34] #572 closed

[2022-09-07 13:02] doruskova opened #581 "Update search input component"
Regarding this issue https://github.com/patternfly/patternfly-org/issues/3163
We need to update the search input component.

[2022-09-07 13:07] doruskova commented on #581
Merged

[2022-09-07 13:07] #581 closed

[2022-09-14 07:57] doruskova opened #584 "Add missing components"
https://docs.google.com/document/d/1DIEFMKIKzrKKIXlDcZVQ3ElAVLQTUxU9b5paxh6JjO8/edit?usp=sharing

[2022-09-14 11:14] #584 closed

[2022-10-05 18:05] lboehling opened #590 "Update Sketch Files and SVGs - October"
Follow this doc https://docs.google.com/document/d/1nv02ByjdJw4R7pUc0vaPm56UGLdTsjBiInRRkUdm5UY/edit?usp=sharing

[2022-10-05 18:08] lboehling opened #591 "Update Sketch File - Primary/Secondary Split Buttons"
Add symbols for primary and secondary split button actions

https://www.patternfly.org/v4/components/dropdown#split-button-primary-action
https://www.patternfly.org/v4/components/dropdown#split-button-secondary-action

[2022-10-06 16:20] lboehling opened #592 "Update Sketch File - Add open-drawer-right icon to the library"
Add open-drawer-right icon to the library [#1149](https://github.com/patternfly/patternfly-design/issues/1149)

Category: Actions

[2022-10-11 07:28] Dearflynn commented on #532
Hey Maria,

No updates for now, I didn’t get the time to work on it. But I’ll get to it
this weekend!

On Thu 28 Apr 2022 at 10:44, Marie Dorušková ***@***.***>
wrote:

--

<https://www.delphinebrunetiere.com>

Delphine Brunetière  Product Designer

***@***.***

+33 (0)7 71 85 86 90

www.delphinebrunetiere.com

[2022-10-13 09:15] jhiadlov commented on #591
Buttons are created and merged. You can find them "Button / 14. Split button". I just wasn't sure if the icons and dropdowns should be able to be modified by users, so I let overrides on. What do you think? :)

[2022-10-13 09:29] jhiadlov commented on #592
Icon added to "Action" category :) It is merged.

[2022-10-16 09:21] jhiadlov commented on #590
Updated

[2022-10-17 14:23] lboehling commented on #590
thank you @jhiadlov!

[2022-10-17 14:23] #590 closed

[2022-10-25 18:39] lboehling commented on #592
thank you @jhiadlov ! I renamed to "open-drawer-right" so that it matches the icon name on the site/repo!

[2022-10-25 18:39] #592 closed

[2022-10-25 18:44] lboehling commented on #591
These symbols look great @jhiadlov, thank you! Since these are technically a variation of our dropdown component, I think they should be grouped with the dropdowns/1.toggle/split/action symbols, instead of with our buttons. Overrides should match whichever overrides are enabled to the default split/action dropdown that is already in the library. we can discuss tomorrow if you have questions!

[2022-10-25 18:53] lboehling opened #594 "Update Sketch Library - Fix resizing of chart symbols"
Our chart axis symbols do not resize properly. We need to update the following symbols to resize properly:

Charts/Axis/Full No Lines
Charts/Axis/Full with Horizontal Lines
Charts/Axis/Full with Vertical Lines
Charts/Axis/X-axis
Charts/Axis/Y-axis
Charts/Area/Full
Charts/Sparkline/Full

[2022-10-29 08:52] jhiadlov commented on #591
It is updated and merged! I hope it is going to be alright this time :)

[2022-11-03 19:52] lboehling commented on #591
thank you! @jhiadlov

[2022-11-03 19:52] #591 closed

[2022-11-03 19:58] lboehling opened #595 "Update empty state icons"
We're updating our empty states to use rh brand icons instead of the existing font awesome icons. These new icons will need to be added to the symbol library and also updated in the template file. See https://github.com/patternfly/patternfly-design/issues/1198 for updated designs.

-add new icons to the symbol library
-update template file empty state page to reflect new icons

[2022-11-07 09:25] jhiadlov commented on #594
All of those components should be fixed right now. I have only one problem: Between the first tick and second tick and also between the last and second last tick, there is always a bigger gap (both horizontal and vertical). I tried everything I could to fix it, but nothing worked for me. Can it be like this, or will you please look at it? Maybe, you will figure something out 😅

Thank you.

Here is

[2022-11-10 17:56] lboehling commented on #594
Thank you @jhiadlov! I'll take a look :)

[2022-11-16 15:20] lboehling opened #596 "Add timepicker component to symbol library"
Timepicker symbol is missing from our library https://www.patternfly.org/v4/components/time-picker

[2022-11-16 15:20] lboehling opened #597 "Update Sketch File and SVGs - November"
follow this doc https://docs.google.com/document/d/1nv02ByjdJw4R7pUc0vaPm56UGLdTsjBiInRRkUdm5UY/edit?usp=sharing

[2022-11-16 15:30] lboehling opened #598 "Fix text input with icon symbols"
Seems like there are inconsistencies between the states for the forms/text box/with icon symbols.
Looks like the default component may be showing an [input group](https://www.patternfly.org/v4/components/input-group) and not a [text box with icon](https://www.patternfly.org/v4/components/text-input#icon-variants). The other states appear to show a search input with the icon on the left.

After rev

[2022-11-16 16:10] lboehling opened #599 "Update search input symbol"
Add variants of the search input symbols to include [search with submit button](https://www.patternfly.org/v4/components/search-input#with-submit-button) and [advanced search](https://www.patternfly.org/v4/components/search-input#advanced).

[2022-11-16 16:12] lboehling opened #600 "Add data-sink and data-source icons"
New data-sink and data-source icons need to be added to the symbol library. These should show in the "object" category. https://github.com/patternfly/patternfly/issues/5226

[2022-11-21 08:23] jhiadlov commented on #596
Done and merged :)

[2022-11-21 09:50] jhiadlov commented on #598
Work in progress

[2022-11-21 10:33] jhiadlov commented on #599
Done and merged. I made it just as one modifiable component, so you can make it just as submit button or with an advanced search. :)